<tr>
  <td height="14">&nbsp;</td>
</tr>
<tr>
  <td align="center" valign="top">
    <table width="654" cellpadding="0" cellspacing="0" border="0" bgcolor="#ececec">
      <tr>
        <td align="center" valign="top">
          <table width="614" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td height="6"></td>
            </tr>
            <tr>
              <td height="10">
                <font color="#333333" style="font-family: 'Helvetica Neue', Helvetica, 'Arial Black', Arial, sans-serif; font-size: 10px; line-height: 10px;  text-rendering: optimizeLegibility;">
                  ANNONCE
                </font>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://ab168007.adbutler-meson.com/go2/;ID=168007;size=614x119;setID={{ setID }};uid=%%ExternalId%%" target="_blank" title="">
                  <img src="http://ab168007.adbutler-meson.com/adserve/;ID=168007;size=614x119;setID={{ setID }};type=img;uid=%%ExternalId%%;" alt="" border="0" style="max-width: 100%; display: block;" width="inital">
                </a>
              </td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="14">&nbsp;</td>
</tr>
