{% if node !== undefined && node !== null %}
  <!-- AOK article -->
  <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>

      {% set image_count = 0; %}
      {% if node.images | typeof === '[object Object]' %}
        {% set images_keys = Object.keys(node.images); %}
        {% set image_count = images_keys.length; %}
      {% elif node.images | typeof === '[object Array]' %}
        {% set image_count = node.images.length; %}
      {% endif %}

      {% if image_count > 0 && node.hide_image !== true %}
        {% set image_found = false; %}
        {% for image in node.images %}
          {% if !image_found && image.relation | hasValue('default') %}
            {% set image_found = true; %}
            <tr>
              <td align="center" valign="top">
                <a href="{{ node.url }}?{{ tracking }}" target="_blank" style="text-decoration: none;">
                  <img  style="width: {{ width }}px;"
                        width="{{ width }}"
                        alt="{{ image.title }}"
                        src="{{ image.image }}"
                        border="0" />
                </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endif %}


      {% set primary_tag = null %}
      {% if node.taxonomyTags.primary %}
        {% for tag in node.taxonomyTags.primary %}
          {% if tag.id != "2" %} {% set primary_tag = tag.tag %} {# wwww.b.dk #}
          {% else %} {% set primary_tag = "Nyheder" %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if primary_tag && show_tag !== false %}
      <tr>
        <td align="left" valign="top">
          <font
            color="#808080"
            style="font-family: {{ font_family_bold|safe }}; font-size: 11px; line-height: 16px; text-transform: uppercase; text-rendering: optimizeLegibility;">
            {{ primary_tag }}
          </font>
        </td>
      </tr>
      {% endif %}

      <tr>
        <td align="left" valign="top">
          <a href="{{ node.url }}?{{ tracking }}" target="_blank" style="text-decoration: none;">
            <font
              color="#1A1A1A"
              style="font-family: {{ font_family|safe }}; font-size: 25px; line-height: 25px; text-rendering: optimizeLegibility;">
              {{ node.title }}
            </font>
          </a>
        </td>
      </tr>

      {% if (node.primary_article && node.summary) || always_show_article_summary === true %}
      <tr>
        <td align="left" valign="top">
          <a href="{{ node.url }}?{{ tracking }}" target="_blank"  style="text-decoration: none;">
            <font
              color="#1A1A1A"
              style="font-family: {{ font_family|safe }}; text-decoration: none; font-size: 18px; line-height: 22px; text-rendering: optimizeLegibility;">
              {{ node.summary }}
            </font>
          </a>
        </td>
      </tr>
      {% endif %}

      {% if node.custom_summary %}
      <tr>
        <td align="left" valign="top">
          <a href="{{ node.url }}?{{ tracking }}" target="_blank"  style="text-decoration: none;">
            <font
              color="#1A1A1A"
              style="font-family: {{ font_family|safe }}; text-decoration: none; font-size: 18px; line-height: 22px; text-rendering: optimizeLegibility;">
              {% autoescape false %} {{ node.custom_summary | safe }} {% endautoescape %}
            </font>
          </a>
        </td>
      </tr>
      {% endif %}

      {% if node.calltoaction %}
      <tr>
        <td align="left" valign="top">
          <a href="{{ node.url }}?{{ tracking }}" target="_blank" style="text-decoration: none;">
            <div style="padding: 10px 0px;">
              <font
                color="#d00000"
                style="font-family: {{ font_family_bold|safe }}; text-decoration: underline; font-weight: bold; font-size: 16px; line-height: 16px; text-rendering: optimizeLegibility;">
                {{ node.calltoaction }}
              </font>
            </div>
          </a>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <!-- AOK article END -->
{% endif %}