<!-- Two-column -->
<tr>
  <td align="center" valign="top">
    <table width="587" cellpadding="0" cellspacing="10" border="0">
      <tr>
        <td height="100%" width="50%" align="center" valign="top">
          <div style="max-width: 287px; padding-right: 8px; display: inline-block; background-color: #ffffff; font-size: 0; line-height: 0px;">
            <!-- Right story -->
            {% set content = { node: articleA.article, width: 287 } %}
            {% include articleA.article_template %}
          </div>
        </td>
        <td height="100%" width="50%" align="center" valign="top">
          <div style="max-width: 287px; padding-left: 8px; display: inline-block; background-color: #ffffff; font-size: 0; line-height: 0px;">
            <!-- Left story -->
            {% set content = { node: articleB.article, width: 287 } %}
            {% include articleB.article_template %}
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- Two-column END -->
