{% set sendoutID = timestamp %}
<!--ad section-->
<tr>
  <td align="center" valign="top">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#efeeee" style="max-width: 620px;">
      <tr>
        <td align="center" valign="top">
          <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 620px;">
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td align="center" valign="middle" width="100%">
                <div style="width: 620px; max-width: 620px; display: block;">
                  <a href="http://images.passendo.com/click/2/{{ placementID }}/%%ExternalId%%/{{ sendoutID }}" target="_blank" title="">
                    <img src="http://images.passendo.com/view/2/{{ placementID }}/%%ExternalId%%/{{ sendoutID }}" alt="" border="0" style="max-width: 620px; display: block;" width="inital">
                  </a>
                  <img width='1' height='1' style='display:none;border-style:none;' alt='' src='http://images.passendo.com/t/2/{{ placementID }}/%%ExternalId%%/{{ sendoutID }}/0/0'>
                  <img width='1' height='1' style='display:none;border-style:none;' alt='' src='http://images.passendo.com/extt/2/{{ placementID }}/%%ExternalId%%/{{ sendoutID }}'>
                </div>
              </td>
            </tr>
            <tr>
              <td height="10" align="right" valign="top" style="padding-right: 19px;">
                <div style="color: #878787; font-family: {{ font_family_normal|safe }}; font-size: 9px; line-height: 11px; margin-top: 4px; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;">
                  ANNONCE
                </div>
              </td>
            </tr>
            <tr>
              <td height="2"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!--ad section end-->
