<!-- AMPscript for getting danish day and month names -->
<script runat=server language=ampscript>

  Var @systolocal
  Set @systolocal = SystemDateToLocalDate(NOW())

  Var @dato
  Set @dato = Format(@systolocal, "dd")

  Var @dayofweek
  Set @dayofweek = Format(@systolocal, "dddd")

  Var @year
  Set @year = Format(@systolocal, "yyyy")

  Var @ugedag
  IF @dayofweek == "Monday" THEN
    Set @ugedag = "MANDAG"
  ELSEIF @dayofweek == "Tuesday" THEN
    Set @ugedag = "TIRSDAG"
  ELSEIF @dayofweek == "Wednesday" THEN
    Set @ugedag = "ONSDAG"
  ELSEIF @dayofweek == "Thursday" THEN
    Set @ugedag = "TORSDAG"
  ELSEIF @dayofweek == "Friday" THEN
    Set @ugedag = "FREDAG"
  ELSEIF @dayofweek == "Saturday" THEN
    Set @ugedag = "LØRDAG"
  ELSEIF @dayofweek == "Sunday" THEN
    Set @ugedag = "SØNDAG"
  ENDIF

  Var @month
  Set @month = Format(@systolocal, "MMMM")

  Var @month_abbreviations
  IF @month == 'January' THEN
    Set @month_abbreviations = "jan."
  ELSEIF @month == 'February' THEN
    Set @month_abbreviations = "febr."
  ELSEIF @month == 'March' THEN
    Set @month_abbreviations = "marts"
  ELSEIF @month == 'April' THEN
    Set @month_abbreviations = "april"
  ELSEIF @month == 'May' THEN
    Set @month_abbreviations = "maj"
  ELSEIF @month == 'June' THEN
    Set @month_abbreviations = "juni"
  ELSEIF @month == 'July' THEN
    Set @month_abbreviations = "juli"
  ELSEIF @month == 'August' THEN
    Set @month_abbreviations = "aug."
  ELSEIF @month == 'September' THEN
    Set @month_abbreviations = "sept."
  ELSEIF @month == 'October' THEN
    Set @month_abbreviations = "okt."
  ELSEIF @month == 'November' THEN
    Set @month_abbreviations = "nov."
  ELSEIF @month == 'December' THEN
    Set @month_abbreviations = "dec."
  ENDIF

  Var @maaned
  IF @month == 'January' THEN
    Set @maaned = "JANUAR"
  ELSEIF @month == 'February' THEN
    Set @maaned = "FEBRUAR"
  ELSEIF @month == 'March' THEN
    Set @maaned = "MARTS"
  ELSEIF @month == 'April' THEN
    Set @maaned = "APRIL"
  ELSEIF @month == 'May' THEN
    Set @maaned = "MAJ"
  ELSEIF @month == 'June' THEN
    Set @maaned = "JUNI"
  ELSEIF @month == 'July' THEN
    Set @maaned = "JULI"
  ELSEIF @month == 'August' THEN
    Set @maaned = "AUGUST"
  ELSEIF @month == 'September' THEN
    Set @maaned = "SEPTEMBER"
  ELSEIF @month == 'October' THEN
    Set @maaned = "OKTOBER"
  ELSEIF @month == 'November' THEN
    Set @maaned = "NOVEMBER"
  ELSEIF @month == 'December' THEN
    Set @maaned = "DECEMBER"
  ENDIF
</script>
