{% set sendoutID = timestamp %}

<tr>
  <td height="14">&nbsp;</td>
</tr>
<tr>
  <td align="center" valign="top">
    <table width="654" cellpadding="0" cellspacing="0" border="0" bgcolor="#ececec">
      <tr>
        <td align="center" valign="top">
          <table width="614" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td height="6"></td>
            </tr>
            <tr>
              <td height="10">
                <font color="#333333" style="font-family: 'Helvetica Neue', Helvetica, 'Arial Black', Arial, sans-serif; font-size: 10px; line-height: 10px;  text-rendering: optimizeLegibility;">
                  ANNONCE
                </font>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://images.passendo.com/click/2/{{ placementID }}/%%ExternalId%%/{{ sendoutID }}" target="_blank" title="">
                  <img src="http://images.passendo.com/view/2/{{ placementID }}/%%ExternalId%%/{{ sendoutID }}" alt="" border="0" style="max-width: 100%; display: block;" width="inital">
                </a>
                <img width='1' height='1' style='display:none;border-style:none;' alt='' src='http://images.passendo.com/t/2/{{ placementID }}/%%ExternalId%%/{{ sendoutID }}/0/0'>
                <img width='1' height='1' style='display:none;border-style:none;' alt='' src='http://images.passendo.com/extt/2/{{ placementID }}/%%ExternalId%%/{{ sendoutID }}'>
              </td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="14">&nbsp;</td>
</tr>
