<!-- Two-column -->
<tr>
  <td align="center" valign="top">
    <table width="614" cellpadding="0" cellspacing="10" border="0">
      <tr>
        <td height="100%" width="50%" align="center" valign="top">
          <div style="max-width: 300px; padding-right: 7px; display: inline-block; background-color: #ffffff; font-size; 0; line-height: 0px;">
            <!-- Right story -->
            {% include articleA.article_template with { node: articleA.article, width: 300 } %}
          </div>
        </td>
        <td height="100%" width="50%" align="center" valign="top">
          <div style="max-width: 300px; padding-left: 7px; display: inline-block; background-color: #ffffff; font-size; 0; line-height: 0px;">
            <!-- Left story -->
            {% include articleB.article_template with { node: articleB.article, width: 300 } %}
          </div>
        </td>
      </tr>
      <tr>
        <td height="10">
          &nbsp;
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- Two-column END -->