<div class="container">
  <div class="row">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="button" class="btn" ng-class="{'btn-warning': dirty, 'btn-default': !dirty}" ng-click="closeNewsletterEditor()">
            Luk <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
          <button type="button" class="btn" ng-class="{'btn-success': dirty, 'btn-default': !dirty}" ng-click="saveNewsletter()" ng-disabled="loading_previews">
            Gem <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="deleteNewsletter()">
            Slet <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <label for="name_control" class="col-sm-2 control-label">Navn</label>
        <div class="col-sm-10">
          <input
            id="name_control"
            class="form-control"
            type="text"
            ng-model="newsletter.name"
            ng-change="setDirty()"
            placeholder="Insert name"/>
          </div>
      </div>
      <div class="form-group">
        <label for="folderId_control" class="col-sm-2 control-label">Folder ID</label>
        <div class="col-sm-10">
          <input
            id="folderId_control"
            class="form-control"
            ng-model="newsletter.folder_id"
            ng-change="setDirty()"
            placeholder="Insert folder ID"/>
          </div>
      </div>
      <div class="form-group">
        <label for="contextId_control" class="col-sm-2 control-label">Context ID</label>
        <div class="col-sm-10">
          <input
            id="contextId_control"
            class="form-control"
            ng-model="newsletter.context_id"
            ng-change="setDirty()"
            placeholder="Insert context ID"/>
        </div>
      </div>
      <div class="form-group">
        <label for="bond_url_control" class="col-sm-2 control-label">BOND URL</label>
        <div class="col-sm-10">
          <input
            id="bond_url_control"
            type="text"
            class="form-control"
            placeholder="Insert BOND root URL"
            ng-model="newsletter.bond_url"
            ng-change="setDirty()">
          </div>
      </div>
      <div class="form-group">
        <label for="template_html_control" class="col-sm-2 control-label">HTML Template</label>
        <div class="col-sm-10">
          <select
            id="template_html_control"
            class="form-control"
            ng-model="newsletter.template_html"
            ng-options="template_html for template_html in html_templates"
            ng-change="setDirty()"
            ng-required="true">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="template_plain_control" class="col-sm-2 control-label">Text Template</label>
        <div class="col-sm-10">
          <select
            id="template_plain_control"
            class="form-control"
            ng-model="newsletter.template_plain"
            ng-options="template_plain for template_plain in plain_templates"
            ng-change="setDirty()"
            ng-required="true">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="tags_control" class="col-sm-2 control-label">Tilføj tag</label>
        <div class="col-sm-5">
          <input id="tags_control" class="form-control" type="text" ng-model="newTag" ng-keyup="addTag($event)" placeholder="Skriv her">
          <ul class="dropdown-menu autocomplete" ng-show="newTag">
            <li ng-repeat="tag in filteredTag=(tags | filter:newTag)">
              <a ng-click="addTag($event, tag)">{{tag}}</a>
            </li>
            <li>
              <a>Tryk <span class="label label-default">ENTER</span> for at oprette</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-5">
          <label for="tags_control">Tags</label>
          <ul class="list-inline">
            <li ng-repeat="tag in newsletter.tags track by $index">
              <span id="tag-{{tag}}" class="label label-info"  style="background-color:#{{tag|tocolor}}">{{tag}} <span class="glyphicon glyphicon-remove" ng-click="removeTag($index)"></span>&nbsp;</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="scheduling_disabled" class="col-sm-2 control-label">Hindre automatisk udsendelse</label>
        <div class="col-sm-5">
          <input type="checkbox" ng-change="setDirty()" ng-model="newsletter.scheduling_disabled"> Dette sikrer at nyhedsbrevet ikke udsendes selvom der er tilknyttet automatisk schedulering.
        </div>
      </div>
    </div>
  </div>
</div>
