<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a title="Til oversigt" class="btn btn-default" ng-href="#/">
        Til oversigt <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="form-group">
        <label for="name_control">
          <abbr title="Bruges til statistik og opf&oslash;lgning. Ikke som tidspunkt for udsendelse.">Internt navn</abbr>
        </label>
        <input
          id="name_control"
          class="form-control"
          type="text"
          ng-model="newsletter.name"
          ng-change="newsletter_name_dirty = true"
          ng-disabled="newsletter_uploaded"
          placeholder="Insert name"/>
        <small>Note: <em>Navn</em> bruges til statistik og opf&oslash;lgning. Ikke som tidspunkt for udsendelse og kan derfor ændres frit.<br>Bannere og tracking er dateret med <strong>{{ schedule_date }}</strong></small>
      </div>
      <div class="form-group">
        <label for="subject">Emnefelt</label>
        <input
          id="subject"
          class="form-control"
          type="text"
          ng-change="newsletter_subject_dirty = true"
          ng-model="newsletter.subject"
          ng-disabled="newsletter_uploaded">
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div>
        <label>Rediger indstillinger</label>
        <a title="Rediger indstillinger " class="btn btn-link btn-xs" ng-href="#/{{newsletter_ident}}/edit">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
      </div>
      <div>
        <label>Nyhedsbrev</label>
        {{ original_newsletters_name }}
      </div>
      <div>
        <label>Folder</label>
        {{ newsletter.folder_id }}</div>
      <div>
        <div>
          <label>Shared Folder (Business Unit)</label>
          {{ newsletter.context_id }}</div>
        <div>
      <div>
        <label>Kategorier</label>
        <ul class="list-inline">
          <li ng-repeat="category in newsletter.categories">
            <span class="label label-info" style="background-color:#{{category|tocolor}}">{{category}}</span>
          </li>
        </ul>
      </div>
      <div>
        <label>Tags / features</label>
        <ul class="list-inline">
          <li ng-repeat="tag in newsletter.tags">
            <span class="label label-info" style="background-color:#{{tag|tocolor}}">{{tag}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-inline">
        <button type="button" class="btn btn-success" ng-click="uploadNewsletter()" ng-disabled="loading || bonddatadirty || newsletter_uploaded">
          Opret <span class="glyphicon glyphicon-envelope"></span>
        </button>
        <!--<div class="checkbox">-->
          <!--<label>-->
            <!--<input type="checkbox" ng-change="scheduleChanged()" ng-model="schedule_at_specified" ng-disabled="send_now"> V&aelig;lg tidspunkt for udsendelse-->
          <!--</label>-->
        <!--</div>-->
        <!--<div class="dropdown form-group" ng-show="schedule_at_specified">-->
          <!--<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">-->
            <!--<div class="input-group">-->
              <!--<input type="text" class="form-control" ng-model="schedule_at" ng-change="scheduleChanged()">-->
              <!--<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>-->
            <!--</div>-->
          <!--</a>-->
          <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
            <!--<datetimepicker ng-change="scheduleChanged()" ng-model="schedule_at" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="checkbox">-->
          <!--<label>-->
            <!--<input type="checkbox" ng-change="scheduleChanged()" ng-model="send_now" ng-disabled="schedule_at_specified"> Send med det samme-->
          <!--</label>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li role="presentation" ng-click="currentTab = 'html_tab'; updatePreviews();" ng-class="{active:currentTab === 'html_tab'}">
          <a>HTML</a>
        </li>
        <li role="presentation" ng-click="currentTab = 'text_tab'; updatePreviews();" ng-class="{active:currentTab === 'text_tab'}">
          <a>TEXT</a>
        </li>
        <li role="presentation" ng-click="currentTab = 'data_tab';" ng-class="{active:currentTab === 'data_tab'}">
          <a>Tilpas indhold</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="row" ng-show="currentTab === 'html_tab'">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p ng-show="loading_html_preview">Loading...</p>
          <p class="text-right">
            <button type="button" class="btn btn-default btn-xs" ng-click="updatePreviews()" ng-disabled="loading">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
          </p>
          <iframe ng-hide="loading_html_preview" class="newsletter-preview" srcdoc="{{trusted_html_email_preview}}" onload='javascript:resizeIframe(this);'></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="currentTab === 'raw_html_tab'">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p ng-show="loading_html_preview">Loading...</p>
          <p class="text-right">
            <button type="button" class="btn btn-default btn-xs" ng-click="updatePreviews()" ng-disabled="loading">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
          </p>
          <textarea ng-hide="loading_html_preview" class="form-control newsletter-preview" style="background-color: white;" disabled>{{ newsletter.email_html }}</textarea>
        </div>
      </div>
    </div>
  </div>


  <div class="row" ng-show="currentTab === 'text_tab'">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p ng-show="loading_plain_preview">Loading...</p>
          <p class="text-right">
            <button type="button" class="btn btn-default btn-xs" ng-click="updatePreviews()" ng-disabled="loading">
              <span class="glyphicon glyphicon-refresh"></span>
            </button>
          </p>
          <textarea ng-hide="loading_plain_preview" class="form-control newsletter-preview" style="background-color: white;">{{ newsletter.email_plain }}</textarea>
        </div>
      </div>
    </div>

  </div>


  <div class="row" id="newsletter-data-form" ng-show="currentTab === 'data_tab'">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-horizontal">
            <p class="text-right">
              <button type="button" class="btn btn-warning" ng-click="getBondDataAndUpdatePreviews()" ng-disabled="loading">
                Reset med nyt indhold fra BOND <span class="glyphicon glyphicon-trash"></span>
              </button>
              <a ng-href="{{ controlroom_url }}" target="_blank" class="btn btn-link" ng-disabled="loading">
                &Aring;bn nodek&oslash; i BOND
              </a>
            </p>
            <div class="row node" ng-repeat="node in bonddata.nodes">
              <div class="col-xs-1">
                <label class="control-label">Artikel {{ $index + 1 }}</label>
              </div>
              <div class="col-xs-9">
                <input
                  class="form-control"
                  type="text"
                  ng-hide="$index === 0 && hasCategory('AOK')"
                  ng-model="node.title"
                  ng-change="changeNodeTitle()"
                  ng-blur="blurNodeTitle()"
                  placeholder="Rubrik"/>
                <div
                  class="checkbox"
                  ng-if="$index === 0 && hasCategory(['Berlingske', 'Business'])">
                  <label>
                    <input
                      type="checkbox"
                      ng-model="node.show_body">
                      Anvend br&oslash;dtekst istedet for underrubrik
                  </label>
                </div>
                <div class="panel panel-default" ng-show="node.show_body">
                  <div class="panel-body">
                    <small>
                      <div ng-bind-html="node.body"></div>
                    </small>
                  </div>
                </div>
                <textarea
                  class="form-control"
                  type="text"
                  rows="3"
                  ng-init="show_summary = ($index === 0 && hasTag('feature_showsummaryonfirst')) || hasTag('feature_showsummary')"
                  ng-show="show_summary && !node.show_body"
                  ng-model="node.summary"
                  ng-change="changeNodeTitle()"
                  ng-blur="blurNodeTitle()"
                  placeholder="Underrubrik"></textarea>
                <textarea
                  class="form-control"
                  type="text"
                  rows="3"
                  ng-init="show_custom_summary = hasTag('feature_showcustomsummary')"
                  ng-show="show_custom_summary"
                  ng-model="node.custom_summary"
                  ng-change="changeNodeTitle()"
                  ng-blur="blurNodeTitle()"
                  placeholder="Fri underrubrik"></textarea>
                <input
                  class="form-control"
                  type="text"
                  ng-hide="node.show_body"
                  ng-model="node.calltoaction"
                  ng-change="changeNodeTitle()"
                  ng-blur="blurNodeTitle()"
                  placeholder="Læs mere"/>
              </div>
              <div class="col-xs-2">
                <button type="button" class="btn btn-default" ng-click="moveNode($index, $index - 1)" ng-disabled="$index === 0">
                  <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="moveNode($index, $index + 1)">
                  <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-click="removeNode($index)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="debug_link" target="_blank" href="/templates/{{ newsletter.template_html }}?u={{ safe_bond_url }}&debug=true">Debug link HTML</a>
  <a class="debug_link" download="{{ newsletter.name }}" href="/templates/{{ newsletter.template_html }}?u={{ safe_bond_url }}">Download HTML</a>
  <a class="debug_link" ng-click="currentTab = 'raw_html_tab'; updatePreviews();">Vis rå HTML</a>
  <a class="debug_link" target="_blank" href="/templates/{{ newsletter.template_plain }}?u={{ safe_bond_url }}&debug=true">Debug link Plain</a>
  <a class="debug_link" download="{{ newsletter.name }}" href="/templates/{{ newsletter.template_plain }}?u={{ safe_bond_url }}">Download Plain</a>
  <a class="debug_link" ng-click="consoleLogData(newsletter)">Console newsletter</a>
  <a class="debug_link" ng-click="consoleLogData(bonddata)">Console data</a>
</div>
