<div class="container-fluid">
  <h2>Kategorier</h2>
  <div class="row">
    <div class="col-xs-3">
      <select
        multiple
        class="form-control"
        ng-model="stats_parameters.categories"
        ng-options="category for category in categories">
      </select>
    </div>
    <div class="col-xs-2">
      <input type="date" class="form-control" ng-model="start_date"
        placeholder="yyyy-MM-dd" min="2015-01-01" max="2099-12-31" required />
    </div>
    <div class="col-xs-2">
      <input type="date" class="form-control" ng-model="end_date"
        placeholder="yyyy-MM-dd" min="2015-01-01" max="2099-12-31" required />
    </div>
    <div class="col-xs-2">
      <select
        class="form-control"
        ng-model="stats_parameters.aggregated_by">
        <option value="day">Opdel p&aring; dag</option>
        <option value="week">Opdel p&aring; uge</option>
        <option value="month">Opdel p&aring; m&aring;ned</option>
      </select>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-primary" ng-click="getData()">Hent data</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <p>Valgte kategorier: <span ng-repeat="category in stats_parameters.categories"><span class="label label-default" style="background-color:#{{category|tocolor}}">{{category}}</span>&nbsp;</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
     <table class="table">
        <tr>
          <th>Dato</th>
          <th>Kategori</th>
          <th><div class="text-right">Udsendt</div></th>
          <th><div class="text-right">Leveret</div></th>
          <th><div class="text-right">&Aring;bninger</div></th>
          <th><div class="text-right">Unikke &aring;bninger</div></th>
          <th><div class="text-right"><abbr title="Unikke &aring;bninger / Leveret">&Aring;bningsrate</abbr></div></th>
          <th><div class="text-right">Kliks</div></th>
          <th><div class="text-right">Unikke kliks</div></th>
          <th><div class="text-right"><abbr title="Unikke kliks / Unikke &aring;bninger">Klikrate</abbr></div></th>
          <th><div class="text-right">Blokerede</div></th>
          <th><div class="text-right">Bounces</div></th>
          <th><div class="text-right">Spam</div></th>
        </tr>
        <tr ng-repeat="data in statsData">
          <td>{{ data.date }}</td>
          <td>{{ data.name }}</td>
          <td><div class="text-right">{{ data.metrics.requests }}</div></td>
          <td><div class="text-right">{{ data.metrics.delivered }}</div></td>
          <td><div class="text-right">{{ data.metrics.opens }}</div></td>
          <td><div class="text-right">{{ data.metrics.unique_opens }}</div></td>
          <td><div class="text-right">{{ data.metrics.open_rate_display }}%</div></td>
          <td><div class="text-right">{{ data.metrics.clicks }}</div></td>
          <td><div class="text-right">{{ data.metrics.unique_clicks }}</div></td>
          <td><div class="text-right">{{ data.metrics.click_rate_display }}%</div></td>
          <td><div class="text-right">{{ data.metrics.blocks }}</div></td>
          <td><div class="text-right">{{ data.metrics.bounces }}</div></td>
          <td><div class="text-right">{{ data.metrics.spam_reports }}</div></td>
        </tr>
      </table>
      <div ng-show="missing_category"><p class="text-center">V&aelig;lg katagori</p></div>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-xs-12">
      <div id="chart_div"></div>
      <div chart></div>
    </div>
  </div> -->
</div>
