{% set unique = timestamp %}

<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="100%" height="14" style="font-size: 0px; line-height: 0px;">&nbsp;</td>
  </tr>
  <tr>
    {% if hide_annonce_background === true %}
    <td align="center" valign="top">
    {% else %}
    <td align="center" valign="top" bgcolor="#ececec">
    {% endif %}

      {% if hide_annonce_label !== true %}
      <div style="padding: 10px 20px 20px 20px;">
      {% else %}
      <div style="padding: 20px;">
      {% endif %}
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td>
              <div style="text-align: left;">
                {% if hide_annonce_label !== true %}
                <font color="#333333" style="font-family: 'Helvetica Neue', Helvetica, 'Arial Black', Arial, sans-serif; font-size: 10px; line-height: 10px;  text-rendering: optimizeLegibility;">
                  ANNONCE
                </font>
                <br>
                {% endif %}
                <a href="http://ab168007.adbutler-meson.com/go2/;ID=168007;size=614x119;setID={{ setID }};uid=[ekstern_id];cache={{ unique }}" target="_blank" title="">
                  <img src="http://ab168007.adbutler-meson.com/adserve/;ID=168007;size=614x119;setID={{ setID }};type=img;uid=[ekstern_id];cache={{ unique }}" alt="" border="0" style="max-width: 100%; display: block;" width="inital">
                </a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td width="100%" height="14" style="font-size: 0px; line-height: 0px;">&nbsp;</td>
  </tr>
</table>
