{% extends "berlingske.html" %}

{% set home_url = "http://www.aoa.dk"; %}

{% block social %}
<div style="margin: 20px 0px 0px 0px;">
  <font color="#000000" style="font-family: {{ font_family|safe }}; font-size: 24px; line-height: 36px; text-rendering: optimizeLegibility;">
    F&Oslash;LG AOA
  </font>
</div>
<div style="margin: 20px 0px;">
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="https://www.facebook.com/aoadk" style="text-decoration: none;">
      <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/facebook.png" width="12" />
    </a>
  </div>
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="https://twitter.com/aoadk" style="text-decoration: none;">
      <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/twitter.png" width="26" />
    </a>
  </div>
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="http://instagram.com/aoaguide" style="text-decoration: none;">
      <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/instagram.png" width="24" />
    </a>
  </div>
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="https://plus.google.com/share?url=http://www.aoa.dk/forside" style="text-decoration: none;">
      <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/google_plus.png" width="28" />
    </a>
  </div>
</div>
<hr style="height: 1px; border: 0; background: #dddddd;">
{% endblock %}
