{% spaceless %}
<div style="padding: 10px 20px 20px 20px; background-color: #ececec;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td align="center" valign="top">
        <div style="text-align: left; display: inline-block;">
          <font color="#333333" style="font-family: Helvetica Neue, Helvetica, Arial Black, Arial, sans-serif; font-size: 10px; line-height: 10px;  text-rendering: optimizeLegibility;">
            ANNONCE
          </font>
          <a target="_blank" href="{{ banner_a_href }}" title="">
            <img class="full" src="{{ banner_img_src }}" alt="" border="0" style="max-width: 100%; display: block;" />
          </a>
        </div>
      </td>
    </tr>
  </table>
</div>
{% endspaceless %}