{% extends "partials/basic.html" %}

{% block font_face %}
  @font-face {
    font-family: "bt_normal";
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOneText-webfont.eot");
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOneText-webfont.eot?#iefix") format("embedded-opentype"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOneText-webfont.woff2") format("woff2"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOneText-webfont.woff") format("woff"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOneText-webfont.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
    font-family: "bt_bold";
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOne-Bold-webfont.eot");
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOne-Bold-webfont.eot?#iefix") format("embedded-opentype"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOne-Bold-webfont.woff2") format("woff2"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOne-Bold-webfont.woff") format("woff"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BTOne-Bold-webfont.ttf") format("truetype");
      font-weight: bold;
      font-style: normal;
  }
{% endblock %}

{% set font_family="bt_bold, 'Helvetica Neue', Helvetica, 'Arial Black', Arial, sans-serif" %}
{% set article_template = "bt_article.html" %}

{% block top_logo %}
  <img style="width: 100%;" src="{{ logo_src }}" width="654" usemap="#imgmap">
  <map name="imgmap">
    <area shape="rect" coords="0,0,491,57" href="{{ home_url }}?{{ tracking }}">
    <area shape="rect" coords="491,0,654,57" href="{{ buy_subscription_href }}">
  </map>
{% endblock %}

{% block read_more %}
  <hr style="height: 1px; border: 0; background: #dddddd">
  <a href="{{ home_url }}?{{ tracking }}" style="text-decoration: none;">
    <div style="margin: 20px; background-color: #939393; padding: 10px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -opera-border-radius: 4px;">
      <font color="#ffffff" style="font-family: {{ font_family|safe }}; font-size: 16px; line-height: 16px; text-rendering: optimizeLegibility;">
        Se flere historier
      </font>
    </div>
  </a>
{% endblock %}

{% block social %}
  <div style="padding: 20px 0px 0px 0px;">
    <font color="#000000" style="font-family: {{ font_family|safe }}; font-size: 24px; line-height: 36px; text-rendering: optimizeLegibility;">
      F&Oslash;LG B.T.
    </font>
  </div>
  <div style="padding: 20px 0px;">
    <div style="padding: 0px 15px; display: inline-block;">
      <a target="_blank" href="http://facebook.com/ditbt" style="text-decoration: none;">
        <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/facebook.png" width="12" />
      </a>
    </div>
    <div style="padding: 0px 15px; display: inline-block;">
      <a target="_blank" href="https://twitter.com/btdk" style="text-decoration: none;">
        <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/twitter.png" width="26" />
      </a>
    </div>
    <div style="padding: 0px 15px; display: inline-block;">
      <a target="_blank" href="http://instagram.com/bt.dk" style="text-decoration: none;">
        <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/instagram.png" width="24" />
      </a>
    </div>
    <div style="padding: 0px 15px; display: inline-block;">
      <a target="_blank" href="https://plus.google.com/+BTDK" style="text-decoration: none;">
        <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/google_plus.png" width="28" />
      </a>
    </div>
  </div>
{% endblock %}

{% block legal_link %}
  <font color="#666666" style="font-family: 'Helvetica Neue', Helvetica, 'Arial Black', Arial, sans-serif; font-size: 14px; line-height: 14px; text-rendering: optimizeLegibility;">
    &middot;
  </font>
  <a target="_blank" href="https://profil.berlingskemedia.dk/nyhedsbreve/bt?id=%%ExternalId%%" style="margin: 0px 7px;  text-decoration: none;">
    <font color="#666666" style="font-family: 'Helvetica Neue', Helvetica, 'Arial Black', Arial, sans-serif; font-size: 14px; line-height: 14px; text-rendering: optimizeLegibility;">
      Tilmeld dig B.T.'s andre nyhedsbreve
    </font>
  </a>
{% endblock %}
