{% set highlight = null %}
{% if node.taxonomyTags.presentationTags %}
  {% for tag in node.taxonomyTags.presentationTags %}
    {% if tag.id == "191162" %}     {% set highlight = 1 %}
    {% elseif tag.id == "191163" %} {% set highlight = 2 %}
    {% elseif tag.id == "191164" %} {% set highlight = 3 %}
    {% elseif tag.id == "191165" %} {% set highlight = 4 %}
    {% elseif tag.id == "191166" %} {% set highlight = 5 %}
    {% elseif tag.id == "191167" %} {% set highlight = 6 %}
    {% elseif tag.id == "191168" %} {% set highlight = 7 %}
    {% elseif tag.id == "191169" %} {% set highlight = 8 %}
    {% elseif tag.id == "191170" %} {% set highlight = 9 %}
    {% elseif tag.id == "191171" %} {% set highlight = 10 %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set background = null %} {% set color = "#000000" %}{% set highlight_color = "#cd0403" %}
{% if !disableBTbackground && node.taxonomyTags.presentationTags %}
  {% for tag in node.taxonomyTags.presentationTags %}
    {% if tag.id == "191134" %}     {# Yellow #}  {% set background = "#fde62f" %}  {% set color = "#000000" %}{% set highlight_color = "#cd0403" %}
    {% elseif tag.id == "191131" %} {# Black #}   {% set background = "#000000" %}  {% set color = "#ffffff" %}{% set highlight_color = "#cd0403" %}
    {% elseif tag.id == "191132" %} {# Red #}     {% set background = "#cd0403" %}  {% set color = "#ffffff" %}{% set highlight_color = "#000000" %}
    {% elseif tag.id == "191136" %} {# Green #}   {% set background = "#c7db47" %}  {% set color = "#000000" %}{% set highlight_color = "#ffffff" %}
    {% elseif tag.id == "191140" %} {# Purple #}  {% set background = "#bd86bc" %}  {% set color = "#ffffff" %}{% set highlight_color = "#000000" %}
    {% elseif tag.id == "191138" %} {# Blue #}    {% set background = "#00aeef" %}  {% set color = "#ffffff" %}{% set highlight_color = "#cd0403" %}
    {% elseif tag.id == "191139" %} {# Orange #}  {% set background = "#e17e00" %}  {% set color = "#000000" %}{% set highlight_color = "#ffffff" %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set images = Object.keys(node.images); %}
{% set image_count = images.length; %}
{% if image_count === 0 %}
  {% set background = "#000000" %}
  {% set color = "#ffffff" %}
  {% set highlight_color = "#cd0403" %}
{% endif %}

{% set plus = false %}
{% if node.taxonomyTags["pris/Abonnement"] %}
  {% for tag in node.taxonomyTags["pris/Abonnement"] %}
    {% if tag.id == "68787" %}
      {% set plus = true %}
    {% endif %}
  {% endfor %}
{% endif %}

<a
  href="{{ node.url }}?{{ tracking }}"
  title="{{ node.title }}"
  style="height: 100%; display: inline-block; text-decoration: none; line-height: 23px; text-align: left;"
  target="_blank">

  {% if background %}
  <div style="width: {{ width }}px; height: 100%; display: inline-block; background-color: {{ background }}; font-size; 0; line-height: 0px;">
  {% else %}
  <div style="width: {{ width }}px; height: 100%; display: inline-block; background-color: #ffffff; font-size; 0; line-height: 0px;">
  {% endif %}

    {% if image_count > 0 %}
      {% for image in node.images %}
        {% if loop.last %}
          <img
            style="width: {{ width }}px;"
            width="{{ width }}"
            alt="{{ image.title }}"
            src="{{ image.image }}"
            border="0" />
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if background %}
    <div style="padding-right: 5px; padding-bottom: 10px; padding-left: 5px;">
    {% else %}
    <div>
    {% endif %}

      {% set title = node.title | highlighter(highlight) %}
      <div style="text-align: left; line-height: 100%;">
        <font
          color="{{ highlight_color }}"
          style="font-family: {{ font_family }}; font-size: 29px; line-height: 29px; font-weight: bold; text-rendering: optimizeLegibility;">
          {{ title.highlights }}
        </font>
        <font
          color="{{ color }}"
          style="font-family: {{ font_family }}; font-size: 29px; line-height: 29px; font-weight: bold; text-rendering: optimizeLegibility;">
          {{ title.rest }}
        </font>
      </div>

      {% if node.calltoaction %}
      <div style="text-align: left; line-height: 100%; padding: 10px 0px;">
        <font
          color="#d00000"
          style="font-family: {{ font_family }}; text-decoration: underline; font-size: 16px; line-height: 16px; text-rendering: optimizeLegibility;">
          {{ node.calltoaction }}
        </font>
      </div>

      {% elif node.type === 'webtv_link' %}
      <div style="text-align: left; line-height: 100%; padding: 10px 0px;">
        <font
          color="#d00000"
          style="font-family: {{ font_family }}; text-decoration: underline; font-size: 16px; line-height: 16px; text-rendering: optimizeLegibility;">
          Se TV-klip
        </font>
      </div>

      {% elif node.type === 'image_gallery' %}
      <div style="text-align: left; line-height: 100%; padding: 10px 0px;">
        <font
          color="#d00000"
          style="font-family: {{ font_family }}; text-decoration: underline; font-size: 16px; line-height: 16px; text-rendering: optimizeLegibility;">
          Se <span>{{ image_count }}</span> billeder
        </font>
      </div>
      {% endif %}

      {% if plus %}
      <div style="text-align: left; line-height: 100%; padding-top: 10px">
        <span style="padding: 0px 3px 0 1px; border-radius: 3px / 2px 0; background: #8FC447;">
          <font
            color="#ffffff"
            style="font-family: {{ font_family }}; font-size: 14px; line-height: 14px; text-rendering: optimizeLegibility;">
            + PLUS
          </font>
        </span>
      </div>
      {% endif %}

    </div>
  </div>
</a>