{% extends "berlingske.html" %}

{% set home_url = "http://www.business.dk"; %}

{% block social %}
<div style="margin: 20px 0px 0px 0px;">
  <font color="#000000" style="font-family: {{ font_family|safe }}; font-size: 24px; line-height: 36px; text-rendering: optimizeLegibility;">
    F&Oslash;LG BERLINGSKE BUSINESS
  </font>
</div>
<div style="margin: 20px 0px;">
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="https://www.facebook.com/berlingskebusiness" style="text-decoration: none;">
      <img src="http://nlstatic.berlingskemedia.dk/images/facebook.png" width="12" />
    </a>
  </div>
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="https://twitter.com/businessdk" style="text-decoration: none;">
      <img src="http://nlstatic.berlingskemedia.dk/images/twitter.png" width="26" />
    </a>
  </div>
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="https://www.linkedin.com/company/5069743" style="text-decoration: none;">
      <img src="http://nlstatic.berlingskemedia.dk/images/linkedin.png" />
    </a>
  </div>
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="https://plus.google.com/102636509175615648310/posts" style="text-decoration: none;">
      <img src="http://nlstatic.berlingskemedia.dk/images/google_plus.png" width="28" />
    </a>
  </div>
</div>
<hr style="height: 1px; border: 0; background: #dddddd;">
{% endblock %}