{% extends "basic.html" %}
https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeSans-Bold-webfont.eot
{% block font_face %}
  @font-face {
    font-family: "berlingske";
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Regular-webfont.eot");
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Regular-webfont.eot?#iefix") format("embedded-opentype"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Regular-webfont.woff2") format("woff2"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Regular-webfont.woff") format("woff"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Regular-webfont.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
    font-family: "berlingske_bold";
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Bold-webfont.eot");
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Bold-webfont.eot?#iefix") format("embedded-opentype"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Bold-webfont.woff2") format("woff2"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Bold-webfont.woff") format("woff"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeText-Bold-webfont.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
    font-family: "berlingske_sans_bold";
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeSans-Bold-webfont.eot");
      src: url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeSans-Bold-webfont.woff2") format("woff2"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeSans-Bold-webfont.woff") format("woff"),
           url("https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/BerlingskeSans-Bold-webfont.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
  }
{% endblock %}

{% set font_family="berlingske, Georgia, 'Times New Roman', Times, serif" %}
{% set font_family_bold="berlingske_bold, Georgia, 'Times New Roman', Times, serif" %}
{% set font_family_sans="berlingske_sans_bold, 'Helvetica Neue', Helvetica, Arial, sans-serif" %}

{% set article_template = "mjm_article.html"; %}

{% block top_logo %}
  <img style="width: 100%;" src="{{ logo_src }}" width="654" usemap="#imgmap">
  <map name="imgmap">
    <area shape="rect" coords="0,0,240,57" href="{{ home_url }}?{{ tracking }}">
    <area shape="rect" coords="240,0,654,57" href="{{ buy_subscription_href }}">
  </map>
{% endblock %}

{% block read_more %}
  <hr style="height: 1px; border: 0; background: #dddddd">
  <a href="{{ home_url }}?{{ tracking }}" style="text-decoration: none;">
    <div style="margin: 20px; background-color: #939393; padding: 10px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -opera-border-radius: 4px;">
      <font color="#ffffff" style="font-family: {{ font_family_sans|safe }}; font-size: 20px; line-height: 30px; text-rendering: optimizeLegibility;">
        Se flere historier
      </font>
    </div>
  </a>
{% endblock %}
