{% if node !== null %}

{% set image_count = 0; %}
{% if node.images | typeof === 'object' %}
  {% set images_keys = Object.keys(node.images); %}
  {% set image_count = images_keys.length; %}
{% endif %}

<div style="width: {{ width }}px;">
  {% for image in node.images %}
    {% if loop.last %}
    <a href="{{ node.url }}?{{ tracking }}&newsl_access={{ node.newsl_access }}" target="_blank" style="text-decoration: none;">
      <img  style="width: {{ width }}px;"
            width="{{ width }}"
            alt="{{ image.title }}"
            src="{{ image.image }}"
            border="0" />
    </a>
    {% endif %}
  {% endfor %}
</div>

<div style="width: {{ width }}px;">

  <a href="{{ node.url }}?{{ tracking }}&newsl_access={{ node.newsl_access }}" target="_blank" style="text-decoration: none;">
    <div style="text-align: left; line-height: 100%; padding-top: 5px;">
      {% if primary_article %}
      <font
        color="#1A1A1A"
        style="font-family: {{ font_family_bold|safe }}; font-size: 36px; line-height: 36px; font-weight: bold; text-rendering: optimizeLegibility;">
        {{ node.title }}
      </font>
      {% else %}
      <font
        color="#1A1A1A"
        style="font-family: {{ font_family|safe }}; font-size: 25px; line-height: 25px; text-rendering: optimizeLegibility;">
        {{ node.title }}
      </font>
      {% endif %}
    </div>
  </a>

  {% if primary_article && node.summary %}
  <a href="{{ node.url }}?{{ tracking }}&newsl_access={{ node.newsl_access }}" target="_blank" style="text-decoration: none;">
    <div style="text-align: left; line-height: 100%; padding-top: 5px; text-decoration: none;">
      <font
        color="#1A1A1A"
        style="font-family: {{ font_family|safe }}; text-decoration: none; font-size: 18px; line-height: 18px; text-rendering: optimizeLegibility;">
        {{ node.summary }}
      </font>
    </div>
  </a>
  {% endif %}

  {% if node.calltoaction %}
  <a href="{{ node.url }}?{{ tracking }}&newsl_access={{ node.newsl_access }}" target="_blank" style="text-decoration: none;">
    <div style="text-align: left; line-height: 100%; padding: 10px 0px;">
      <font
        color="#1A1A1A"
        style="font-family: {{ font_family|safe }}; text-decoration: underline; font-size: 16px; line-height: 16px; text-rendering: optimizeLegibility;">
        {{ node.calltoaction }}
      </font>
    </div>
  </a>

  {% elif node.type === 'image_gallery' %}
  <a href="{{ node.url }}?{{ tracking }}&newsl_access={{ node.newsl_access }}" target="_blank" style="text-decoration: none;">
    <div style="text-align: left; line-height: 100%; padding: 10px 0px;">
      <font
        color="#1A1A1A"
        style="font-family: {{ font_family|safe }}; text-decoration: underline; font-size: 16px; line-height: 16px; text-rendering: optimizeLegibility;">
        Se <span>{{ image_count }}</span> billeder
      </font>
    </div>
  </a>

  {% elif node.type === 'webtv_link' %}
  <a href="{{ node.url }}?{{ tracking }}&newsl_access={{ node.newsl_access }}" target="_blank" style="text-decoration: none;">
    <div style="text-align: left; line-height: 100%; padding: 10px 0px;">
      <font
        color="#1A1A1A"
        style="font-family: {{ font_family|safe }}; text-decoration: underline; font-size: 16px; line-height: 16px; text-rendering: optimizeLegibility;">
        Se TV-klip
      </font>
    </div>
  </a>
  {% endif %}
</div>
{% endif %}