<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="100%" height="14" style="font-size: 0px; line-height: 0px;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <div style="padding: 20px;">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td>
              <div style="text-align: left;">
                <a target="_blank" href="{{ banner_a_href }}" title="">
                  <img class="full" src="{{ banner_img_src }}" alt="" border="0" style="max-width: 100%; display: block;" width="100%" />
                </a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td width="100%" height="14" style="font-size: 0px; line-height: 0px;">&nbsp;</td>
  </tr>
</table>