#topmenu
{
  margin-top: 20px;
}

#mainApp
{
  margin-bottom: 40px;
}

.nav {
  margin-bottom: 10px;
}

table
{
  margin-top: 10px;
}

.newsletter-preview
{
  width: 100%;
  border: 0px;
}

textarea.newsletter-preview
{
  height: 1000px !important;
}

.debug_link {
  color: lightgray;
}

.autocomplete {
  display: block;
  top: calc(100% - 1px);
  left: 15px;
}

.autocomplete a {
  cursor: pointer;
}

.nav-tabs a {
  cursor: pointer;
}

#newsletter-data-form .node {
  margin-top: 12px;
}

#newsletter-data-form .node .form-control {
  margin-top: 5px;
}

button.btn:disabled {
  color: grey;
  background-color: lightgrey;
  border-color: lightgrey;
}

.dropdown input.form-control {
  min-width: 330px;
}