{% extends "../new_partials/basic.html" %}

{% block font_face %}

  @font-face {
    font-family: 'montserrat_regular';
    src: url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Regular.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Regular.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Regular.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  }

  @font-face {
    font-family: 'montserrat_bold';
    src: url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Bold.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Bold.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Bold.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  }

{% endblock %}

{% set font_family="montserrat_regular, 'Helvetica Neue', Helvetica" %}
{% set font_family_bold="montserrat_bold, 'Helvetica Bold', Helvetica" %}

{% block top_logo %}
  <a href="{{ home_url }}?{{ tracking }}">
    <img style="width: 100%;" src="{{ logo_src }}" width="654">
  </a>
{% endblock %}

{% block social %}
<table width="614" cellpadding="0" cellspacing="10" border="0">
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <font color="#000000" style="font-family: {{ font_family|safe }}; font-size: 24px; line-height: 36px; text-rendering: optimizeLegibility;">
        F&oslash;lg AOK
      </font>
    </td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <div style="padding: 0px 15px; display: inline-block;">
        <a target="_blank" href="http://link.berlingskemedia.dk/aok_facebook" style="text-decoration: none;">
          <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/facebook.png" width="12" />
        </a>
      </div>
      <div style="padding: 0px 15px; display: inline-block;">
        <a target="_blank" href="http://link.berlingskemedia.dk/aok_twitter" style="text-decoration: none;">
          <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/twitter.png" width="26" />
        </a>
      </div>
      <div style="padding: 0px 15px; display: inline-block;">
        <a target="_blank" href="http://link.berlingskemedia.dk/aok_instagram" style="text-decoration: none;">
          <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/instagram.png" width="24" />
        </a>
      </div>
<!--       <div style="padding: 0px 15px; display: inline-block;">
        <a target="_blank" href="http://link.berlingskemedia.dk/aok_google_plus" style="text-decoration: none;">
          <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/google_plus.png" width="28" />
        </a>
      </div> -->
    </td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
</table>
{% endblock %}

{% block footer %}
  <a href="{{ home_url }}?{{ tracking }}">
    <img src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/aok-skyline-654x100.png"/>
  </a>
{% endblock %}