<div class="issue-html"><table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="font-family: 'helvetica neue', helvetica, arial, sans-serif; font-size: 14px; line-height: 20px; color: #333"><tbody><tr><td align="center" valign="top">
<table border="0" width="600" cellpadding="0" cellspacing="0" class="container noarchive" style="border-collapse: collapse;"><tbody><tr><td style="padding-top: 6px; padding-bottom: 6px; font-size: 12px; text-align: center; color: #555">
<span class="nomo">This week's Node news<br></span><a href="http://nodeweekly.com/issues/55" style="color: #6ca629">Read this e-mail on the Web</a>
</td></tr></tbody></table>
<table border="0" width="600" cellpadding="0" cellspacing="0" class="container" style="border-collapse: collapse">
<tbody><tr><td style="background-color: #6ca629"><table width="100%" cellspacing="0" cellpadding="0" align="left"><tbody><tr><td align="left" class="block" style="padding: 6px 12px;">
<table align="left" width="50%" class="gowide"><tbody><tr><td><span style="line-height: 36px; font-size: 23px; color: #6ca629; text-transform: lowercase; font-weight: 500; color: #ffffff; -webkit-font-smoothing: antialiased;">Node Weekly</span></td></tr></tbody></table>
<table align="left" style="text-align: right" width="50%" class="gowide lonmo"><tbody><tr><td><span style="font-size: 14px; line-height: 36px; font-weight: normal; color: #ffffff">
October  2, 2014&nbsp;&nbsp;#55
</span></td></tr></tbody></table>
</td></tr></tbody></table></td></tr>
<tr><td style="padding: 16px 12px 12px 12px" align="left">
<div style="color: #6ca629; font-weight: normal; font-size: 12px; line-height: 12px; text-transform: uppercase; margin-top: 8px">
Scott Smith
</div>
<table width="420" align="left" class="gowide" cellpadding="0" cellspacing="0" style="border-collapse: collapse"><tbody><tr><td>
<div style="font-size: 18px; margin: 2px 0px"><a href="http://scottksmith.com/blog/2014/09/29/3-essential-sublime-text-plugins-for-node-and-javascript-developers/?utm_source=nodeweekly&amp;utm_medium=email" title="scottksmith.com/blog/2014/09/29/3-essential-sublime-text-plugins-for-node-and-javascript-developers/" style="display: block; color: #2518b5; line-height: 23px; font-weight: normal; ">3 Essential Sublime Text Plugins for Node and JavaScript Developers</a></div>
<div style="font-size: 14px; line-height: 19px">
Covers JSFormat, JSHint, and JavaScriptNext.
<br><br>
</div>
</td></tr></tbody></table>
<table width="150" class="nomo" align="left"><tbody><tr><td style="text-align: center"></td></tr></tbody></table>
<br clear="all" style="clear: both"><div style="color: #6ca629; font-weight: normal; font-size: 12px; line-height: 12px; text-transform: uppercase; margin-top: 8px">
Gergely Nemeth
</div>
<table width="420" align="left" class="gowide" cellpadding="0" cellspacing="0" style="border-collapse: collapse"><tbody><tr><td>
<div style="font-size: 18px; margin: 2px 0px"><a href="http://blog.risingstack.com/node-js-security-tips/?utm_source=nodeweekly&amp;utm_medium=email" title="blog.risingstack.com/node-js-security-tips/" style="display: block; color: #2518b5; line-height: 23px; font-weight: normal; ">Node.js Security Tips</a></div>
<div style="font-size: 14px; line-height: 19px">
A grab bag of simple, but often forgotten, tips for avoiding common security issues with Node.
<br><br>
</div>
</td></tr></tbody></table>
<table width="150" class="nomo" align="left"><tbody><tr><td style="text-align: center"></td></tr></tbody></table>
<br clear="all" style="clear: both"><div style="color: #6ca629; font-weight: normal; font-size: 12px; line-height: 12px; text-transform: uppercase; margin-top: 8px">
The Jackal of JavaScript
</div>
<table width="420" align="left" class="gowide" cellpadding="0" cellspacing="0" style="border-collapse: collapse"><tbody><tr><td>
<div style="font-size: 18px; margin: 2px 0px"><a href="http://thejackalofjavascript.com/ionic-twilio-and-node-scheduler-part-1/?utm_source=nodeweekly&amp;utm_medium=email" title="thejackalofjavascript.com/ionic-twilio-and-node-scheduler-part-1/" style="display: block; color: #2518b5; line-height: 23px; font-weight: normal; ">Building a Reminder App with Ionic, Twilio and Node Scheduler</a></div>
<div style="font-size: 14px; line-height: 19px">
An explanatory 2-part tutorial on how to build a Reminder mobile app using Ionic, Twilio and Node. Part 1 builds the server-side REST API and part 2 builds the client.
<br><br>
</div>
</td></tr></tbody></table>
<table width="150" class="nomo" align="left"><tbody><tr><td style="text-align: center"></td></tr></tbody></table>
<br clear="all" style="clear: both"><div style="color: #6ca629; font-weight: normal; font-size: 12px; line-height: 12px; text-transform: uppercase; margin-top: 8px">
Codeship
&nbsp;&nbsp;<span style="background-color: #ffff99; color: #aaaa00; font-weight: normal; padding: 1px 5px 0px 6px;">Sponsored</span>
</div>
<table width="420" align="left" class="gowide" cellpadding="0" cellspacing="0" style="border-collapse: collapse"><tbody><tr><td>
<div style="font-size: 18px; margin: 2px 0px"><a href="https://www.codeship.io/?utm_source=NodeWeekly&amp;utm_medium=newsletter&amp;utm_campaign=CooperPress" title="www.codeship.io/?utm_source=NodeWeekly&amp;utm_medium=newsletter&amp;utm_campaign=CooperPress" style="display: block; color: #2518b5; line-height: 23px; font-weight: normal; ">Codeship is Continuous Delivery for free.</a></div>
<div style="font-size: 14px; line-height: 19px">
Codeship offers 100 builds/month and 5 private projects for free. All startups and small teams now can get started easily with the simplest Continuous Delivery Service out there. Try it now!
<br><br>
</div>
</td></tr></tbody></table>
<table width="150" class="nomo" align="left"><tbody><tr><td style="text-align: center"><a href="https://www.codeship.io/?utm_source=NodeWeekly&amp;utm_medium=newsletter&amp;utm_campaign=CooperPress"><img src="http://s3.amazonaws.com/nlga/uploads/item/image/22122/125.png" style="border: 0" width="95" height="95" alt="Codeship"></a></td></tr></tbody></table>
<br clear="all" style="clear: both"><div style="color: #6ca629; font-weight: normal; font-size: 12px; line-height: 12px; text-transform: uppercase; margin-top: 8px">
John Resig
</div>
<table width="420" align="left" class="gowide" cellpadding="0" cellspacing="0" style="border-collapse: collapse"><tbody><tr><td>
<div style="font-size: 18px; margin: 2px 0px"><a href="http://nodestreams.com/?utm_source=nodeweekly&amp;utm_medium=email" title="nodestreams.com/" style="display: block; color: #2518b5; line-height: 23px; font-weight: normal; ">Node.js Stream Playground</a></div>
<div style="font-size: 14px; line-height: 19px">
This is not new but worth revisiting. It’s a playground to help you get a feel for the power of Node’s streams and how they work. John Resig <a href="http://ejohn.org/blog/node-js-stream-playground/">explains the background to it here.</a><br><br>
</div>
</td></tr></tbody></table>
<table width="150" class="nomo" align="left"><tbody><tr><td style="text-align: center"></td></tr></tbody></table>
<br clear="all" style="clear: both"><p style="color: #6ca629; font-size: 20px; font-weight: normal; margin-top: 0; margin-bottom: 10px">Jobs</p>
<ul style="padding-left: 18px; margin-top: 10px; list-style-type: square">
<li style="color: #6ca629; margin-bottom: 8px; font-size: 16px; line-height: 16px">
<a href="https://weworkremotely.com/jobs/944?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px;  line-height: 18px; font-weight: normal">JavaScript Developer at Harvest</a><br><span style="font-size: 12px; color: #999999">Harvest's software is used by customers in over 150 countries to make their businesses more profitable. Our dev team is composed of smart, interesting, funny, and caring people who love to do great work. Sound like you?</span>&nbsp;<span style="color: #6ca629; font-weight: normal; padding: 0px 4px 0px 4px; font-size: 12px; text-transform: uppercase">Harvest</span>
</li>
<li style="color: #6ca629; margin-bottom: 8px; font-size: 16px; line-height: 16px">
<a href="https://hire.jobvite.com/j?cj=oIFeZfwk&amp;s=CooperPress" style="color: #2518b5; margin-right: 4px;  line-height: 18px; font-weight: normal">Node.js Agent Engineer (Portland, OR)</a><br><span style="font-size: 12px; color: #999999">Uptake of New Relic for Node.js has been huge, and we need more people to help us expand to bigger and greater things! We currently are in need of developers with a keen interest and ability to solve complex challenges in innovative ways. </span>&nbsp;<span style="color: #6ca629; font-weight: normal; padding: 0px 4px 0px 4px; font-size: 12px; text-transform: uppercase">New Relic</span>
</li>
<li style="color: #6ca629; margin-bottom: 8px; font-size: 16px; line-height: 16px">
<a href="http://underdog.io/?utm_source=nodeweekly&amp;utm_medium=email&amp;utm_campaign=jobpost" style="color: #2518b5; margin-right: 4px;  line-height: 18px; font-weight: normal">Node.js developers - spend 60 seconds applying to 50 jobs at once</a><br><span style="font-size: 12px; color: #999999">
Interested in an NYC startup job but overwhelmed by options? Apply on <a href="http://underdog.io/?utm_source=nodeweekly&amp;utm_medium=underdogemail&amp;utm_campaign=jobpost">underdog.io</a>. Founders &amp; hiring managers will email you directly if interested. Your new company won’t have to pay exorbitant recruiting fees to hire you.
</span>&nbsp;<span style="color: #6ca629; font-weight: normal; padding: 0px 4px 0px 4px; font-size: 12px; text-transform: uppercase">underdog<span>.</span>io</span>
</li>
</ul>
<p style="color: #6ca629; font-size: 20px; font-weight: normal; margin-bottom: 10px">In brief</p>
<ul style="padding-left: 18px; margin-top: 10px; list-style-type: square">
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="http://totems.co/blog/machine-learning-nodejs-gender-instagram/?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">Using Machine Learning and Node.js to Detect The Gender of Instagram Users</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #66aa00; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">tutorial</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>Totems </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="https://oncletom.io/2014/self-contained-node-scripts/?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">Self-contained Node.js Scripts</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #66aa00; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">tutorial</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>Oncle Tom </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="http://www.infoq.com/interviews/Bevacqua-Modular-JavaScript?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">Nico Bevacqua on Writing Modular JavaScript</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #cc00cc; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">video</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>InfoQ </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="https://github.com/ganemone/NodeRequirer?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">NodeRequirer: A Sublime Text 3 Plugin for Requiring Modules</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #888888; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">tools</span> <br><span style="font-size: 12px; color: #666666">
Parses your project to allow you to require any local module or dependency listed in package.json
</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>Giancarlo Anemone </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="https://github.com/typicode/katon?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">katon: Automatically Start Your Node Based Projects and Serve Them Locally On .dev Domains</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #888888; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">tools</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>typicode </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="https://github.com/node-inspector/node-inspector?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">Node Inspector: Node.js Debugger Based On Blink Developer Tools</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #888888; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">tools</span> <br><span style="font-size: 12px; color: #666666">
Node Inspector is a debugger interface for Node.js applications that uses the Blink Developer Tools (formerly WebKit Web Inspector).
</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>StrongLoop </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="https://github.com/countable/node-dogecoin?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">node-dogecoin: DogeCoin Client for Node.js</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #00bbbb; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">code</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>Clark Van Oyen </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="http://cylonjs.com/blog/2014/10/01/with-the-new-cylon-js-you-can-be-fluent-too/#.VC0llqd4ork?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">Cylon.js 0.19.0 Released with New Optional 'Fluent' Syntax</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #00bbbb; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">code</span> <br><span style="font-size: 12px; color: #666666">
A popular JavaScript robotics framework.
</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>Cylon.js </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="https://github.com/city41/node-sql-fixtures?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">sql-fixtures: SQL Fixtures for Node in PostgreSQL, MySQL, Maria and SQLite</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #00bbbb; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">code</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>Matt Greer </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="https://github.com/kolodny/screenliner?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">Screenliner: Node Util for Writing to Regions On The Terminal</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #00bbbb; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">code</span> <br><span style="font-size: 12px; color: #666666">
Sorta like curses made simple.
</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>Moshe Kolodny </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="https://github.com/majimboo/stream-frame?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">StreamFrame: A Stream Framing Library for Node.js</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #00bbbb; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">code</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>Majid Arif Siddiqui </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="https://github.com/dreyacosta/mongoose-store?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: normal">mongoose-store: Mongoose Session Store for ExpressJS</a>&nbsp;<span style="font-size: 12px; padding: 1px 3px; text-transform: uppercase; background-color: #00bbbb; color: #fff; font-weight: normal; font-family: verdana, arial, sans-serif">code</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>David Rey </span>
</li>
<li style="color: #ee5533; margin-bottom: 12px; font-size: 16px; line-height: 18px">
<a href="http://meteorjs.club/learn/?utm_source=nodeweekly&amp;utm_medium=email" style="color: #2518b5; margin-right: 4px; line-height: 20px; font-weight: bold">Learn how to build a Meteor.js app in 8 hours</a>&nbsp;<br><span style="font-size: 12px; color: #666666">
Curious about Meteor.js? Want reactive apps without all the headaches of hooking it up? Join this class for a series of online sessions that teach you how to build a full functional twitter clone!
</span>&nbsp;<span style="color: #6ca629; font-weight: normal; font-size: 12px; text-transform: uppercase"><br>Mastering Meteor.js &nbsp;&nbsp;<span style="background-color: #ffff99; color: #aaaa00; font-weight: normal; padding: 1px 5px 0px 6px;">Sponsored</span></span>
</li>
</ul>
</td></tr>
<tr><td bgcolor="#f4f4f4" style="font-family: verdana, helvetica, arial, sans-serif; text-align: left; padding-top: 12px; padding-left: 12px; padding-right: 12px; padding-bottom: 12px" class="noarchive">
<p style="line-height: 15px; font-size: 11px; margin-top: 0">Node Weekly is curated by <a href="http://twitter.com/peterc" style="color: #6ca629">Peter Cooper</a> and published by <a href="https://cooperpress.com/" style="color: #6ca629">Cooper Press</a>.<br>Node.js is a trademark of <a href="http://www.joyent.com/" style="color: #6ca629">Joyent, Inc.</a> Used with kind permission.<br><br>Send feedback by simply replying to this mail.<br>Want to sponsor an issue? See our <a href="https://cooperpress.com/mediakit2014q3.pdf" style="color: #666666">media kit.</a><br>Want to post a job? E-mail us or <a href="https://cooperpress.com/jobs" style="color: #666666">use our self-serve system.</a></p>
<p style="font-size: 14px"><a href="*%7CUNSUB%7C*" style="color: #6ca629">Unsubscribe</a> : <a href="*%7CUPDATE_PROFILE%7C*" style="color: #6ca629">Change email address</a> : <a href="http://nodeweekly.com/issues/55" style="color: #6ca629">Read this issue on the Web</a></p>
<p style="font-size: 11px; line-height: 15px">© Cooper Press Ltd. Office 30, Lincoln Way, Louth, LN11 0LS, UK<br><a href="https://cooperpress.com/spam.html" style="color: #666666">Email policy</a> <a href="https://cooperpress.com/privacy.html" style="color: #666666">Privacy policy</a></p>
</td></tr>
</tbody></table>
</td></tr></tbody></table></div>