{% extends 'partials/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}

  <p>{% autoescape false %}{{ supertitle }}{% endautoescape %}</p>
  <p><a href="http://{{ website }}/node/{{ id }}">L&aelig;s mere</a></p>

  {% for image in images %}
    <img width="900px" title="{{ image.title }}" src="http://www.bt.dk/{{ image.file.path }}">
  {% endfor %}

  <p>{% autoescape false %}{{ title }}{% endautoescape %}</p>
  <p>{% autoescape false %}{{ summary }}{% endautoescape %}</p>

  <p>L&aelig;s ogs&aring;</p>
  <ul>
  {% for rel in related %}
    {% if rel.relation == 'default' %}
      <li><a href="http://{{ website }}/node/{{ rel.id }}">{{ rel.title }}</a></p>
    {% endif %}
  {% endfor %}
  </ul>

{% endblock %}