#topmenu
{
  margin-top: 20px;
}

#mainApp
{
  margin-bottom: 40px;
}

.nav {
  margin-bottom: 10px;
}

table
{
  margin-top: 10px;
}

.newsletter-preview
{
  height: 1000px !important;
  width: 100%;
  border: 0px;
}

.debug_link {
  color: #ffffff;
}

.autocomplete {
  display: block;
  top: calc(100% - 15px);
  left: 15px;
}

.autocomplete a {
  cursor: pointer;
}

.nav-tabs a {
  cursor: pointer;
}

#newsletter-data-form .node {
  margin-top: 12px;
}

#newsletter-data-form .node .form-control {
  margin-top: 5px;
}

.btn
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}