<div class="row">
  <h1>Members</h1>
  <div class="input-group">
    <input class="form-control input-sm" placeholder="Search member" ng-keyup="searchMembersKeyUpEvent($event)" type="text" ng-model="searchMembersInput">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-sm" ng-click="searchMembersEvent()">Search</button>
    </span>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th></th>
    </tr>
    <tr ng-show="searching">
      <td>Searching...</td><td></td><td></td><td></td>
    </tr>
    <tr ng-show="noresult">
      <td>No result...</td><td></td><td></td><td></td>
    </tr>
    <tr ng-repeat="member in members">
      <td>{{member.id}}</td>
      <td>{{member.firstname}} {{member.lastname}}</td>
      <td>{{member.username}}</td>
      <td><button type="button" class="btn btn-info btn-xs" ng-click="editMember(member.id)">Edit</button></td>
    </tr>
  </table>
</div>
