<div class="container">
  <h2>Begreber</h2>

  <div class="row">
    <div class="col-xs-3">
      <h4>Sådan gør du</h4>
    </div>
    <div class="col-xs-9">
      <ol>
        <li>Første trin er ...</li>
        <li>Andet trin er ...</li>
        <li>Dernæst skal du gøre...</li>
        <li>Og så er der ikke mere at gøre. Du er færdig.</li>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-3">
      <h4>Kladder</h4>
    </div>
    <div class="col-xs-9">
      <p>Opret kladde er for superbrugere. Emailen, som den bliver vist i preview, bliver uploadet til SendGrid hvorfra den en redigeres. Den bliver altså ikke sendt ud til modtagerne.</p>
      <p>Fra SendGrid kan man bla. redigere emailen (som HTML) og lave A/B split-test.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-3">
      <h4>Nodequeue mapper</h4>
    </div>
    <div class="col-xs-9">
      <p>
        Nodek&oslash;er i BOND er grundstenen for artikeldata til nyhedsbrevene. Artiklernes r&aelig;kkef&oslash;lge i nodek&oslash;en afg&oslash;r placeringen i nyhedsbrevet.
        Eftersom det ikke altid er hensigtsm&aelig;ssigt at anvende samme nodek&oslash;er som anvendes til websitets forsider, er det en fordel at oprette nyhedsbrevsspecifikke nodek&oslash;er.
        Dette kan g&oslash;res automatisk ved brug af den nye feature nodequeue mapper.
      </p>
      <p>L&aelig;s mere om her: <a href="https://docs.google.com/a/berlingskemedia.dk/document/d/1ixHhJcgq5OQeCkthVpIqQAEHl10W6_UN6GsF0De5OAg/edit?usp=sharing">Nodequeue mapper</a></p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-3">
      <h4>Identity (afsender)</h4>
    </div>
    <div class="col-xs-9">
      <p>TODO</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-3">
      <h4>Modtagerliste</h4>
    </div>
    <div class="col-xs-9">
      <p>TODO</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-3">
      <h4>BOND URL</h4>
    </div>
    <div class="col-xs-9">
      <p>F.eks. nodek&oslash; med id 5842 kan redigeres i BOND Controlroom p&aring; følgende URL:</p>
      <pre>http://edit.berlingskemedia.net/admin/content/nodequeue/<strong>5842</strong>/edit</pre>
      <p>kan anvendes i nyhedsbrevene ved at omskrive URL til</p>
      <pre>http://edit.berlingskemedia.net/bondapi/nodequeue/<strong>5842</strong>.ave-json?image_preset=620x355-c</pre>
      <p>Detaljer:</p>
      <ul>
        <li>id skal &aelig;ndres alt efter hvilken nidek&oslash; der skal hentes fra.</li>
        <li>Milj&oslash;navn <em>edit.berlingskemedia.net</em> kan &aelig;ndres alt efter hvorfra artiklerne skal hentes.</li>
        <li><em>image_preset=620x355-c</em> angiver hvilke billedest&oslah;rrelser der skal anvendes. Angives dette ikke, vil BOND give billeder i fuld st&oslash;rrelse.
          Se en liste over billede st&oslash;rrelser her: <a href="https://docs.google.com/a/berlingskemedia.dk/spreadsheets/d/1jUlnfXBEsH8TGYh7sFdMxx2BAsPULMeNBKv8wA_2X_Q/edit?usp=sharing">Image formats on BOND</a>
        </li>
        <li>Resten af URL'en skal bibeholdes som angivet ovenfor.</li>
      </ul>
    </div>
  </div>

</div>