<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <input class="form-control input-sm" placeholder="S&oslash;g" ng-keyup="searchMembersEvent($event)" type="text" ng-model="searchMembersInput">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm" ng-click="searchMembersEvent($event)">Search</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
        <tr ng-show="searching">
          <td>Searching...</td><td></td><td></td>
        </tr>
        <tr ng-show="noresult">
          <td>No result...</td><td></td><td></td>
        </tr>
        <tr ng-repeat="member in members" ng-click="editMemberClick(member.id)" ng-class="{'warning' : member.status === 'inactive'}">
          <td><a href="#/members/{{member.id}}">{{member.id}}</a></td>
          <td>{{member.firstname}} {{member.lastname}}</td>
          <td>{{member.email_address}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>