<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h2><small>Navn:</small> {{member.firstname}} {{member.lastname}}</h2>
    </div>
    <div class="col-xs-4">
      <div ng-show="member.status === 'active'"><span class="label label-success">Aktiv</span></div>
      <div ng-show="member.status === 'inactive'"><span class="label label-warning">Inaktiv</span></div>
      <div>ID: {{member.id}}</div>
      <div>MDB User ID: {{member.mdb_user_id}}</div>
    </div>
  </div>  
  <div class="row">
    <div class="col-xs-3">
      <h3><span class="label label-default">Emails</span></h3>
    </div>
    <div class="col-xs-9">
      <table class="table table-condensed">
        <tr>
          <th>Email adresse</th>
          <th>Active</th>
        </tr>
        <tr ng-repeat="email in member.emails">
          <td>{{email.email_address}}</td>
          <td>
            <span ng-show="email.active" class="label label-success">Aktiv</span>
            <span ng-show="!email.active" class="label label-warning">Inaktiv</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h3><span class="label label-default">Phones</span></h3>
    </div>
    <div class="col-xs-9">
      <table class="table table-condensed">
        <tr>
          <th>Type</th>
          <th>Number</th>
          <th>Active</th>
        </tr>
        <tr ng-repeat="phone in member.phones">
          <td>{{phone.type}}</td>
          <td>{{phone.number}}</td>
          <td>
            <span ng-show="phone.status" class="label label-success">Aktiv</span>
            <span ng-show="!phone.status" class="label label-warning">Inaktiv</span>
          </td>
        </tr>
      </table>  
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h3><span class="label label-default">Interesser</span></h3>
    </div>
    <div class="col-xs-9">
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <th>Display name</th>
          <th>Beskrivelse</th>
          <th>Parent</th>
          <th>Active</th>
          <th>Location</th>
        </tr>
        <tr ng-repeat="interest in member.interests">
          <td>{{interest.interest_name}}</td>
          <td>{{interest.interest_display_name}}</td>
          <td>{{interest.interest_description}}</td>
          <td>{{interest.interest_parent_name}}</td>
          <td>
            <span ng-show="interest.active" class="label label-success">Aktiv</span>
            <span ng-show="!interest.active" class="label label-warning">Inaktiv</span>
          </td>
          <td>{{interest.location_description}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h3><span class="label label-default">Subscriptions</span></h3>
    </div>
    <div class="col-xs-9">
      <table class="table table-condensed">
        <tr>
          <th>Newsletter</th>
          <th>Email</th>
          <th>Location</th>
          <th>Active</th>
          <th>Joined</th>
          <th>Unjoined</th>
          <th>Unsub reason</th>
        </tr>
        <tr ng-repeat="subscription in member.subscriptions">
          <td>{{subscription.newsletter_name}}</td>
          <td>{{subscription.email_address}}</td>
          <td>{{subscription.location_description}}</td>
          <td>
            <span ng-show="subscription.active" class="label label-success">Aktiv</span>
            <span ng-show="!subscription.active" class="label label-warning">Inaktiv</span>
          </td>
          <td>{{subscription.joined}}</td>
          <td>{{subscription.unjoined}}</td>
          <td>{{subscription.unsub_reason_id}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h3><span class="label label-default">Permissions</span></h3>
    </div>
    <div class="col-xs-9">
      <table class="table table-condensed">
        <tr>
          <th>Permission</th>
          <th>Email</th>
          <th>Location</th>
          <th>Active</th>
          <th>Joined</th>
          <th>Unjoined</th>
          <th>Unsub reason</th>
        </tr>
        <tr ng-repeat="permission in member.permissions">
          <td>{{permission.permission_name}}</td>
          <td>{{permission.email_address}}</td>
          <td>{{permission.location_description}}</td>
          <td>
            <span ng-show="permission.active" class="label label-success">Aktiv</span>
            <span ng-show="!permission.active" class="label label-warning">Inaktiv</span>
          </td>
          <td>{{permission.joined}}</td>
          <td>{{permission.unjoined}}</td>
          <td>{{permission.unsub_reason_id}}</td>
        </tr>
      </table>
    </div>
  </div>
<div class="row">
    <div class="col-xs-3">
      <h3><span class="label label-default">Details</span></h3>
      <button type="button" class="btn btn-primary" disabled>Gem</button>
    </div>
    <div class="col-xs-9  well well-lg">
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" placeholder="Enter firstname" ng-model="member.firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" placeholder="Enter lastname" ng-model="member.lastname">
      </div>
      <div class="form-group">
        <label for="coname">C/O name</label>
        <input type="text" class="form-control" id="coname" placeholder="Enter C/O name" ng-model="member.coname">
      </div>
      <div class="form-group">
        <label for="birth_year">Birth year</label>
        <input type="number" class="form-control" id="birth_year" placeholder="Enter birth year" ng-model="member.birth_year">
      </div>
      <div class="form-group">
        <label for="birth_date">Birth date</label>
        <input type="date" class="form-control" id="birth_date" placeholder="Enter birth date" ng-model="member.birth_date">
      </div>
      <div class="form-group">
        <label for="genderRadioOptions">Gender: </label>
        <label class="radio-inline">
          <input type="radio" name="genderRadioOptions" id="genderFemaleRadio" ng-model="member.gender" value="K"> Kvinde
        </label>
        <label class="radio-inline">
          <input type="radio" name="genderRadioOptions" id="genderMaleRadio" ng-model="member.gender" value="M"> Mand
        </label>
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" class="form-control" id="company" placeholder="Enter company" ng-model="member.company">
      </div>
      <div class="form-group">
        <label for="company_cvr">Company CVR</label>
        <input type="text" class="form-control" id="company_cvr" placeholder="Enter company CVR" ng-model="member.company_cvr">
      </div>
      <div class="form-group">
        <label for="external_id">External ID</label>
        <input type="text" class="form-control" id="external_id" placeholder="Enter external id" ng-model="member.external_id">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="member.is_internal" ng-true-value="1" ng-false-value="0">Intern
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="member.robinson_flag" ng-true-value="1" ng-false-value="0">Robinson
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="member.status" ng-true-value="'active'" ng-false-value="'inactive'">Aktiv
        </label>
      </div>
    </div>
  </div>
  <div class="" ng-repeat="address in member.addresses">
    <div class="row">
      <div class="col-xs-3">
        <h3><span class="label label-default">Adresse</span></h3>
        <button type="button" class="btn btn-primary" disabled>Gem</button>
      </div>
      <div class="col-xs-9 well well-lg">
        <div class="form-group">
          <label for="road_name{{address.id}}">Vejnavn</label>
          <input type="text" class="form-control" id="road_name{{address.id}}" placeholder="Enter road name" ng-model="address.road_name">
        </div>
        <div class="form-group">
          <label for="house_number{{address.id}}">Husnummer</label>
          <input type="text" class="form-control" id="house_number{{address.id}}" placeholder="Enter house number" ng-model="address.house_number">
        </div>
        <div class="form-group">
          <label for="house_letter{{address.id}}">Husbogstav</label>
          <input type="text" class="form-control" id="house_letter{{address.id}}" placeholder="Enter house letter" ng-model="address.house_letter">
        </div>
        <div class="form-group">
          <label for="floor{{address.id}}">Etage</label>
          <input type="text" class="form-control" id="floor{{address.id}}" placeholder="Enter floor" ng-model="address.floor">
        </div>
        <div class="form-group">
          <label for="side_door{{address.id}}">Side d&oslash;r</label>
          <input type="text" class="form-control" id="side_door{{address.id}}" placeholder="Enter side door" ng-model="address.side_door">
        </div>
        <div class="form-group">
          <label for="postal_number{{address.id}}">Postnummer</label>
          <input type="text" class="form-control" id="postal_number{{address.id}}" placeholder="Enter postal number" ng-model="address.postal_number">
        </div>
        <div class="form-group">
          <label for="city{{address.id}}">By</label>
          <input type="text" class="form-control" id="city{{address.id}}" placeholder="Enter city" ng-model="address.city">
        </div>
        <div class="form-group">
          <label for="place_name{{address.id}}">Stednavn</label>
          <input type="text" class="form-control" id="place_name{{address.id}}" placeholder="Enter place name" ng-model="address.place_name">
        </div>
        <div class="form-group">
          <label for="country{{address.id}}">Land</label>
          <input type="text" class="form-control" id="country{{address.id}}" placeholder="Enter country" ng-model="address.country">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="address.active" ng-true-value="1" ng-false-value="0">Aktiv
          </label>
        </div>
      </div>
    </div>
  </div>
</div>