<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <a href="#/newsletters/{{newsletter.id}}"><span class="glyphicon glyphicon-arrow-left"></span> Til opsætning</a>
    </div>
    <div class="col-xs-9">
      Antal modtagere <span class="badge">{{subscribersCount}}</span>
    </div>
    <div class="col-xs-1">
      <button type="button" class="btn btn-warning" ng-click="sendNewsletterClick(newsletter.id)">
        Send <span class="glyphicon glyphicon-envelope"></span>
      </button>
    </div>
  </div>
  <div class="row newsletter-preview">
    <div class="col-xs-12">
      <iframe ng-src="{{iframe_src}}" width="100%" height="1000px"></iframe>
    </div>
  </div>
</div>