<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Publisher</th>
          <th>Beskrivelse</th>
          <th>Aktiv</th>
        </tr>
        <tr ng-repeat="newsletter in newsletters" ng-click="editNewsletterClick(newsletter.id)" ng-class="{'warning' : newsletter.active === 0}">
          <td>{{newsletter.id}}</td>
          <td>{{newsletter.name}}</td>
          <td>{{newsletter.publisher_name}}</td>
          <td>{{newsletter.description}}</td>
          <td>{{newsletter.active}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
