<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h2><small>Newsletter navn:</small> {{newsletter.name}} <small>ID:</small> {{newsletter.id}}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary" ng-click="save()">Gem</button>
      <a href="#/newsletters/{{newsletter.id}}/preview">Preview</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert" ng-show="showError">{{errorMessage}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="name">Navn</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="newsletter.name">
      </div>
      <div class="form-group">
        <label for="publisher_id">Publisher ID <small><a href="#/publishers/{{newsletter.publisher_id}}">edit</a></small></label>
        <input type="number" class="form-control" id="publisher_id" placeholder="Enter publisher id" ng-model="newsletter.publisher_id">
      </div>
      <div class="form-group">
        <label for="display_text">Display text</label>
        <input type="text" class="form-control" id="display_text" placeholder="Enter display text" ng-model="newsletter.display_text">
      </div>
      <div class="form-group">
        <label for="description">Beskrivelse</label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" ng-model="newsletter.description">
      </div>
      <div class="form-group">
        <label for="html_url">HTML URL</label>
        <input type="text" class="form-control" id="html_url" placeholder="Enter URL to HTML" ng-model="newsletter.html_url">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="newsletter.active" ng-true-value="1" ng-false-value="0">Aktiv
        </label>
      </div>
    </div>
  </div>
</div>
