<div class="container">
  <div class="row" ng-hide="adhocNewsletter">
    <div class="col-xs-2">
      <a href="#/newsletters"><span class="glyphicon glyphicon-arrow-left"></span> Tilbage til oversigt</a>
    </div>
<!--     <div class="col-xs-2 col-xs-offset-8">
      <a href="#/newsletters/{{newsletter.nyhedsbrev_id}}/preview">Preview <span class="glyphicon glyphicon-arrow-right"></span></a>
    </div> -->
  </div>
  <div ng-hide="adhocNewsletter">
    <div class="row">
      <div class="col-xs-8">
        <h2><small>Navn:</small> {{newsletter.nyhedsbrev_navn}}</h2>
      </div>
      <div class="col-xs-4">
        <span ng-show="newsletter.enabled" class="label label-success">Aktiv</span>
        <span ng-show="!newsletter.enabled" class="label label-danger">Inaktiv</span>
        <span ng-show="newsletter.hidden" class="label label-warning">Hidden</span>
        <span ng-show="newsletter.nyt" class="label label-default">Nyt</span>
        <div>ID: {{newsletter.nyhedsbrev_id}}</div>
      </div>
      <div class="col-xs-6">
        <p>Udgiver: {{newsletter.publisher_navn}}</p>
        <p>Tidligere sendt fra: {{newsletter.publisher_sendfrom}}</p>
        <p>Link til hjulet: <a href="{{newsletter.publisher_url}}">{{newsletter.publisher_url}}</a></p>
      </div>
      <div class="col-xs-6">
        <img class="img-responsive" src="{{newsletter.publisher_toppic}}" alt="{{newsletter.publisher_toppic}}" title="{{newsletter.publisher_toppic}}" />
      </div>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label for="identity">Identity (afsender)</label>
        <select
          id="identity"
          class="form-control"
          ng-model="newsletter.identity"
          ng-options="identity for identity in identities"
          ng-required="true">
        </select>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label for="bond_type">BOND Data type</label>
        <select id="bond_type" class="form-control" ng-model="newsletter.bond_type" ng-change="updatePreview()">
          <option>node</option>
          <option>nodequeue</option>
        </select>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label for="bond_id">ID</label>
        <input id="bond_id" type="text" class="form-control" placeholder="{{newsletter.bond_type}} ID" ng-model="newsletter.bond_id" ng-change="updatePreview()">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label for="template_html">HTML Template</label>
        <!-- <input type="text" class="form-control" id="template" placeholder="Select default template" ng-model=""> -->
        <select
          id="template_html"
          class="form-control"
          ng-model="newsletter.template_html"
          ng-options="template_html.name as template_html.name for template_html in html_templates"
          ng-required="true"
          ng-change="updateHtmlPreview()">
        </select>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label for="template_plain">Text Template</label>
        <select
          id="template_plain"
          class="form-control"
          ng-model="newsletter.template_plain"
          ng-options="template_plain.name as template_plain.name for template_plain in plain_templates"
          ng-required="true"
          ng-change="updatePlainPreview()">
        </select>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group" ng-show="adhocNewsletter">
        <label for="list">Modtagere</label>
        <select
          id="list"
          class="form-control"
          ng-model="newsletter.list"
          ng-options="list for list in lists"
          ng-required="true">
          <option value=""></option>
        </select>
      </div>
      <div ng-hide="adhocNewsletter">
        <label for="list">Modtagere</label>
        <input type="text" id="list" class="form-control" disabled="disabled" placeholder="mdb_nyhedsbrev_{{newsletter.nyhedsbrev_id}}">
      </div>
    </div>
  </div>
  <div class="row" ng-hide="adhocNewsletter">
    <div class="col-xs-2">
      <button type="button" class="btn btn-success" ng-click="save()">
        Save <span class="glyphicon glyphicon-save"></span>
      </button>
    </div>
    <div class="col-xs-1">
      <p style="font-size:30px; color: rgb(152, 152, 152);"><span class="glyphicon glyphicon-info-sign"></span></p>
    </div>
    <div class="col-xs-9">
      <p>Udsendes ved at lave en HTTP POST til <strong>{{newsletter_post_url}}</strong></em></p>
    </div>
  </div>
  <div class="row" ng-show="adhocNewsletter">
    <div class="col-xs-12">
      <button type="button" class="btn btn-success" ng-click="sendAdhocNewsletter(true)">
        Opret kladde <span class="glyphicon glyphicon-inbox"></span>
      </button>
      <button type="button" class="btn btn-danger" ng-click="sendAdhocNewsletter()">
        Send <span class="glyphicon glyphicon-envelope"></span>
      </button>
    </div>
  </div>
  <hr>

  <!-- PREVIEW -->
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" role="alert" ng-show="previewError">Fejl ved indlæsning af data fra BOND.</div>
    </div>
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Emnefelt</div>
        <div class="panel-body" ng-show="adhocNewsletter">
          <input type="text" class="form-control" ng-model="newsletter.subject">
        </div>
        <div class="panel-body" ng-hide="adhocNewsletter">
          {{newsletter.subject}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">HTML indhold</div>
        <div class="panel-body">
          <iframe class="newsletter-preview" ng-src="{{iframe_html_preview}}"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Text indhold</div>
        <div class="panel-body">
          <iframe class="newsletter-preview" ng-src="{{iframe_plain_preview}}"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
