<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h2><small>Publisher navn:</small> {{publisher.name}} <small>ID:</small> {{publisher.id}}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="publisher_name">Navn</label>
        <input type="text" class="form-control" id="publisher_name" placeholder="Enter name" ng-model="publisher.name">
      </div>
      <div class="form-group">
        <label for="publisher_display_text">Display navn</label>
        <input type="text" class="form-control" id="publisher_display_text" placeholder="Enter display text" ng-model="publisher.display_text">
      </div>
      <div class="form-group">
        <label for="publisher_from_email">Fra email</label>
        <input type="text" class="form-control" id="publisher_from_email" placeholder="Enter from email" ng-model="publisher.from_email">
      </div>
      <div class="form-group">
        <label for="publisher_from_name">Fra navn</label>
        <input type="text" class="form-control" id="publisher_from_name" placeholder="Enter from name" ng-model="publisher.from_name">
      </div>
      <div class="form-group">
        <label for="publisher_url_picture_top">URL billede</label>
        <input type="text" class="form-control" id="publisher_url_picture_top" placeholder="Enter name" ng-model="publisher.url_picture_top">
      </div>
      <img src="{{publisher.url_picture_top}}" alt="{{publisher.url_picture_top}}" title="{{publisher.url_picture_top}}" />
      <div class="form-group">
        <label for="publisher_name">Navn</label>
        <input type="text" class="form-control" id="publisher_name" placeholder="Enter name" ng-model="publisher.name">
      </div>
      <div class="form-group">
        <label for="publisher_url">URL</label>
        <input type="text" class="form-control" id="publisher_url" placeholder="Enter URL" ng-model="publisher.url">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="publisher.active" ng-true-value="1" ng-false-value="0">Aktiv
        </label>
      </div>
    </div>
  </div>
<!--   <div class="" ng-repeat="newsletter in publisher.newsletters">
    <div class="row">
      <div class="col-xs-3">
        <h3><span class="label label-default">Nyhedsbrev</span></h3>
        <button type="button" class="btn btn-primary" ng-click="sendNewsletterClick(newsletter.id)">Send</button>
        <a href="#/newsletters/{{newsletter.id}}">Edit</a>
      </div>
      <div class="col-xs-9 well well-lg">
        <div class="form-group">
          <label for="newsletter_name_{{newsletter.id}}">Navn</label>
          <input type="text" class="form-control" id="newsletter_name_{{newsletter.id}}" placeholder="Enter name" ng-model="newsletter.name">
        </div>
        <div class="form-group">
          <label for="newsletter_display_text{{newsletter.id}}">Display navn</label>
          <input type="text" class="form-control" id="newsletter_display_text_{{newsletter.id}}" placeholder="Enter display name" ng-model="newsletter.display_text">
        </div>
        <div class="form-group">
          <label for="newsletter_description_{{newsletter.id}}">Beskrivelse</label>
          <input type="text" class="form-control" id="newsletter_description_{{newsletter.id}}" placeholder="Enter description" ng-model="newsletter.description">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="newsletter.active" ng-true-value="1" ng-false-value="0">Aktiv
          </label>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-xs-4">
      <h3>Nyhedsbreve</h3>
    </div>
    <div class="col-xs-8">
      <table class="table table-hover">
        <tr ng-repeat="newsletter in publisher.newsletters" ng-class="{'warning' : newsletter.active === 0}">
          <td><a href="#/newsletters/{{newsletter.id}}">{{newsletter.id}}</a></td>
          <td>{{newsletter.name}}</td>
          <td>{{newsletterz .description}}</td>
          <td><button type="button" class="btn btn-primary" ng-click="sendNewsletterClick(newsletter.id)">Send</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
