<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h2><small>Publisher navn:</small> {{publisher.name}}</h2>
    </div>
    <div class="col-xs-4">
      <div ng-show="publisher.active"><span class="label label-success">Aktiv</span></div>
      <div ng-show="!publisher.active"><span class="label label-warning">Inaktiv</span></div>
      <div>ID: {{publisher.id}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h3><span class="label label-default">Details</span></h3>
    </div>
    <div class="col-xs-9 well well-lg">
      <div class="form-group">
        <label for="publisher_name">Navn</label>
        <input type="text" class="form-control" id="publisher_name" placeholder="Enter name" ng-model="publisher.name">
      </div>
      <div class="form-group">
        <label for="publisher_display_text">Display navn</label>
        <input type="text" class="form-control" id="publisher_display_text" placeholder="Enter display text" ng-model="publisher.display_text">
      </div>
      <div class="form-group">
        <label for="publisher_from_email">Fra email</label>
        <input type="text" class="form-control" id="publisher_from_email" placeholder="Enter from email" ng-model="publisher.from_email">
      </div>
      <div class="form-group">
        <label for="publisher_from_name">Fra navn</label>
        <input type="text" class="form-control" id="publisher_from_name" placeholder="Enter from name" ng-model="publisher.from_name">
      </div>
      <div class="form-group">
        <label for="publisher_url_picture_top">URL billede</label>
        <input type="text" class="form-control" id="publisher_url_picture_top" placeholder="Enter name" ng-model="publisher.url_picture_top">
      </div>
      <img src="{{publisher.url_picture_top}}" alt="{{publisher.url_picture_top}}" title="{{publisher.url_picture_top}}" />
      <div class="form-group">
        <label for="publisher_name">Navn</label>
        <input type="text" class="form-control" id="publisher_name" placeholder="Enter name" ng-model="publisher.name">
      </div>
      <div class="form-group">
        <label for="publisher_url">URL</label>
        <input type="text" class="form-control" id="publisher_url" placeholder="Enter URL" ng-model="publisher.url">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="publisher.active" ng-true-value="1" ng-false-value="0">Aktiv
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h3><span class="label label-default">Nyhedsbreve</span></h3>
    </div>
    <div class="col-xs-9">
      <table class="table table-condensed">
        <tr ng-repeat="newsletter in publisher.newsletters" ng-class="{'warning' : newsletter.active === 0}">
          <td><a href="#/newsletters/{{newsletter.id}}">{{newsletter.id}}</a></td>
          <td>{{newsletter.name}}</td>
          <td>{{newsletter.description}}</td>
          <td><a href="#/newsletters/{{newsletter.id}}/preview">Preview</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
