<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
        <tr ng-repeat="publisher in publishers">
          <td><div ng-click="editPublisherClick(publisher.id)">{{publisher.id}}</div></td>
          <td>{{publisher.name}}</td>
          <td>{{publisher.from_email}}</td>
          <td><img src="{{publisher.url_picture_top}}" /></td>
        </tr>
      </table>
    </div>
  </div>
</div>