<div class="container">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-9 text-right">
      <button type="button" class="btn btn-success" ng-click="sendTestNewsletterEventClick()">Send</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="from_email">Fra email</label>
        <input type="text" class="form-control" id="from_email" placeholder="Enter from email" ng-model="from_email">
      </div>
      <div class="form-group">
        <label for="from_name">Fra navn</label>
        <input type="text" class="form-control" id="from_name" placeholder="Enter from name" ng-model="from_name">
      </div>
      <div class="form-group">
        <label for="subject">Emne</label>
        <input type="text" class="form-control" id="subject" placeholder="Enter subject" ng-model="subject">
      </div>
      <div class="form-group">
        <label for="html_url">HTML URL</label>
        <input type="text" class="form-control" id="html_url" placeholder="Enter HTML URL" ng-model="html_url">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
      <button type="button" class="btn btn-default" ng-click="addRecipientClick()"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="col-xs-11">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="email" class="form-control" placeholder="Add recipient mail" ng-model="new_recipient" ng-keyup="addRecipientsKeyUp($event)">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;" ng-repeat="recipient in recipients">
    <div class="col-xs-11 col-xs-offset-1">
      <button type="button" class="btn btn-xs btn-default" ng-click="removeRecipientClick($index)"><span class="glyphicon glyphicon-minus"> {{recipient}}</span></button>
    </div>
  </div>
</div>