{% extends "partials/berlingske.html" %}

{% set home_url = "http://www.b.dk/kultur"; %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=berlingske_kultur"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/62274_654x80_Berl_Kultur_0817.jpg"; %}
{% set unsubscribe_href = "https://profil.berlingskemedia.dk/tilmeldt/1001?id=%%ExternalId%%" %}
{% set buy_subscription_href = "https://abonnement.b.dk/berlingske-abonnementer/?utm_source=own_newsletters_ed&utm_medium=berlingske&utm_content=nl_link&utm_campaign=abonnementer_berlingske&ns_fee=AL-151222-CP-WKLEDIT1WK" %}
{% set annoncor_href = "https://annoncering.berlingske.dk/" %}

{% set kw = "berlingske_kultur"; %}

{% block wide_banner_2 %}
{# include "partials/adbutler_banner.html" with { setID: "206034" } #}
{% endblock %}

{% block wide_banner_3 %}
{# include "partials/adbutler_banner.html" with { setID: "206035" } #}
{% endblock %}

{% block box_banner_1 %}
{# include "partials/adbutler_banner.html" with { setID: "206095" } #}
{% endblock %}

{% block box_banner_2 %}
{# include "partials/adbutler_banner.html" with { setID: "206244" } #}
{% endblock %}

{% block social %}
{% endblock %}
