<div class="container-fluid">
  <h2>Udsendelser</h2>
  <div class="row">
    <div class="col-xs-12">
      <input
        class="form-control input-sm"
        placeholder="Filter"
        type="text"
        ng-model="emailFilter">
      <table class="table table-hover">
        <tr>
          <th>Internt navn</th>
          <th>Emnefelt</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="email in emails | filter: emailFilter">
          <td>{{ email.name }}</td>
          <td>
            <button class="btn btn-info btn-xs" ng-hide="email.subject" ng-click="getEmailData(email)">Vis detaljer</button>
            <div ng-show="email.subject">{{ email.subject }}</div>
          </td>
          <td><div ng-show="email.total_recipients">{{ email.total_recipients }} modtagere</div></td>
          <td>
            <div><abbr title="{{ email.schedule }}">{{ email.fromnow }}</abbr></div>
            <button class="btn btn-danger btn-xs btn-block" ng-show="email.scheduled" ng-click="deleteSchedule(email)">Annuller</button>
          </td>
          <!-- <td><span class="label" style="background-color: #{{ email.identity | tocolor}};">{{ email.identity }}</span></td> -->
        </tr>
      </table>
    </div>
  </div>
</div>
