<div class="container-fluid">
  <h2>Kategorier</h2>
  <div class="row">
    <div class="col-xs-3">
      <select
        multiple
        class="form-control"
        ng-model="stats_parameters.categories"
        ng-options="category for category in categories">
      </select>
    </div>
    <div class="col-xs-2">
      <input type="date" class="form-control" ng-model="start_date"
        placeholder="yyyy-MM-dd" min="2015-01-01" max="2099-12-31" required />
    </div>
    <div class="col-xs-2">
      <input type="date" class="form-control" ng-model="end_date"
        placeholder="yyyy-MM-dd" min="2015-01-01" max="2099-12-31" required />
    </div>
    <div class="col-xs-2">
      <select
        class="form-control"
        ng-model="stats_parameters.aggregated_by">
        <option value="day">Opdel p&aring; dag</option>
        <option value="week">Opdel p&aring; uge</option>
        <option value="month">Opdel p&aring; m&aring;ned</option>
      </select>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-primary" ng-click="getData()">Hent data</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <p>Valgte kategorier: <span ng-repeat="category in stats_parameters.categories"><span class="label label-default">{{category}}</span>&nbsp;</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
     <table class="table">
        <tr>
          <th>Dato</th>
          <th>Kategori</th>
          <th>Udsendt</th>
          <th>Leveret</th>
          <th>&Aring;bninger</th>
          <th>Unikke &aring;bninger</th>
          <th>&Aring;bningsrate</th>
          <th>Kliks</th>
          <th>Unikke kliks</th>
          <th>Unikke klikrate</th>
          <th>Total klikrate</th>
          <th>Blokerede</th>
          <th>Bounces</th>
          <th>Spam</th>
        </tr>
        <tr ng-repeat="data in statsData">
          <td>{{ data.date }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.metrics.requests }}</td>
          <td>{{ data.metrics.delivered }}</td>
          <td>{{ data.metrics.opens }}</td>
          <td>{{ data.metrics.unique_opens }}</td>
          <td>{{ data.metrics.unique_opens }}</td>
          <td>{{ data.metrics.clicks }}</td>
          <td>{{ data.metrics.unique_clicks }}</td>
          <td>TODO</td>
          <td>TODO</td>
          <td>{{ data.metrics.blocks }}</td>
          <td>{{ data.metrics.bounces }}</td>
          <td>{{ data.metrics.spam_reports }}</td>
        </tr>
      </table>
      <div ng-show="missing_category"><p class="text-center">V&aelig;lg katagori</p></div>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-xs-12">
      <div id="chart_div"></div>
      <div chart></div>
    </div>
  </div> -->
</div>
