{% extends "brands/aoa.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=AOK_weekend"; %}
{% set home_url = "http://www.aoa.dk"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/aoa_weekend.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/50?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://www.aoa.dk"; %}

{% set kw = "AOA_weekend"; %}


{% block content %}

  {% include "new_partials/single_column.html" with
    {
      article_template: "aok_article.html",
      article: nodes[0]
    }
  %}


  {% include "new_partials/banner.html" with { cu: "29855" } %}


  {% for node in nodes %}
    {% if max_nodes > 0 && loop.index > max_nodes %}
      {# This is empty on purpose. #}
    {% elif loop.index0 >= 1 && loop.index0 % 2 === 0 %}
      {% include "new_partials/two_column.html" with
        {
          articleA: {
            article_template: "aok_article.html",
            article: nodes[loop.index0 - 1]
          },
          articleB: {
            article_template: "aok_article.html",
            article: nodes[loop.index0]
          }
        }
      %}

      {# Banner after the second row of articles #}
      {% if loop.index0 === 4 %}
        {% include "new_partials/banner.html" with { cu: "29853" } %}
      {% endif %}

    {% endif %}
  {% endfor %}


  <tr>
    <td height="30"></td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <table width="614" cellpadding="0" cellspacing="10" border="0">
        <tr>
          <td>
            <font color="#1A1A1A"
              style="font-family: {{ font_family_bold|safe }}; font-size: 22px; line-height: 22px; font-weight: bold; text-rendering: optimizeLegibility;">
              DET SKER I AARHUS
            </font>
          </td>
        </tr>
        <tr>
          <td height="6"></td>
        </tr>
        <tr>
          <td height="100%" width="50%" align="center" valign="top">
            <div style="max-width: 300px; padding-right: 7px; display: inline-block; background-color: #ffffff; font-size; 0; line-height: 0px;">
              <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <a href="http://www.aoa.dk/soeg#when::Next%207%20days" target="_blank" style="text-decoration: none;">
                    <img  style="width: 300px;"
                          width="300"
                          alt="AOA Næste 7 dage"
                          src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/AOA_Next_7_days.png"
                          border="0" />
                  </a>
                </tbody>
              </table>
            </div>
          </td>
          <td height="100%" width="50%" align="center" valign="top">
            <div style="max-width: 300px; padding-left: 7px; display: inline-block; background-color: #ffffff; font-size; 0; line-height: 0px;">
              <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                  <a href="http://www.aoa.dk/soeg#when::This%20weekend" target="_blank" style="text-decoration: none;">
                    <img  style="width: 300px;"
                          width="300"
                          alt="AOA Denne weekend"
                          src="https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/images/AOA_This_Weekend.png"
                          border="0" />
                  </a>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td height="40"></td>
  </tr>

  {% if aoa_anbefaler %}
  <tr>
    <td align="center" valign="top">
      <table width="614" cellpadding="0" cellspacing="10" border="0">
        <tr>
          <td>
            <font color="#1A1A1A"
              style="font-family: {{ font_family_bold|safe }}; font-size: 22px; line-height: 22px; font-weight: bold; text-rendering: optimizeLegibility;">
              AOA ANBEFALER
            </font>
          </td>
        </tr>
        <tr>
          <td height="6"></td>
        </tr>
        {% for node in aoa_anbefaler.nodes %}
        <tr>
          <td align="left" valign="top">
            <div style="margin: 5px;">
              <a href="{{ node.url }}?{{ tracking }}" target="_blank" style="text-decoration: none;">
                <font
                  color="#1A1A1A"
                  style="font-family: {{ font_family|safe }}; font-size: 20px; line-height: 26px; text-rendering: optimizeLegibility;">
                  {{ node.title }}
                </font>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  {% endif %}

  {% include "new_partials/banner.html" with { cu: "29856" } %}


  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <table width="614" cellpadding="0" cellspacing="10" border="0">
        <tr>
          <td colspan="2">
            <font color="#1A1A1A"
              style="font-family: {{ font_family_bold|safe }}; font-size: 22px; line-height: 22px; font-weight: bold; text-rendering: optimizeLegibility;">
              Tilmeld dig vores andre nyhedsbreve
            </font>
          </td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
        <tr>
          <td>
            <a href="http://profil.berlingskemedia.dk/smartlinks?ekstern_id=[ekstern_id]&nid=116&lid=2039&action=signup&flow=simple&url=http%3A%2F%2Faoa.dk%2Ftakfordintilmelding">
              <img style="width: 74px;" width="74" src="http://nlstatic.berlingskemedia.dk/newsletter_logos/116.png" alt="">
            </a>
          </td>
          <td>
            <a href="http://profil.berlingskemedia.dk/smartlinks?ekstern_id=[ekstern_id]&nid=116&lid=2039&action=signup&flow=simple&url=http%3A%2F%2Faoa.dk%2Ftakfordintilmelding" style="text-decoration: none;">
              <div style="margin: 30px;">
                <font color="#000000" style="font-family:montserrat_regular, 'Helvetica Neue', Helvetica; font-size: 14px; line-height: 16px; text-rendering: optimizeLegibility;">
                  AOA's Shopping nyhedsbrev holder dig opdateret på shoppinglivet i Aarhus. Her kan du læse alt om nyåbnede butikker, spændende lagersalg, store messer, fristende udsalg - ja, alt det dit shoppinghjerte banker for.
                </font>
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="http://profil.berlingskemedia.dk/smartlinks?ekstern_id=[ekstern_id]&nid=68&lid=2039&action=signup&flow=simple&url=http%3A%2F%2Faoa.dk%2Ftakfordintilmelding">
              <img style="width: 74px;" width="74" src="http://nlstatic.berlingskemedia.dk/newsletter_logos/68.png" class="center-block img-responsive" alt="">
            </a>
          </td>
          <td>
            <a href="http://profil.berlingskemedia.dk/smartlinks?ekstern_id=[ekstern_id]&nid=68&lid=2039&action=signup&flow=simple&url=http%3A%2F%2Faoa.dk%2Ftakfordintilmelding" style="text-decoration: none;">
              <div style="margin: 30px;">
                <font color="#000000" style="font-family:montserrat_regular, 'Helvetica Neue', Helvetica; font-size: 14px; line-height: 16px; text-rendering: optimizeLegibility;">
                  Tilmeld dig og bliv opdateret på dagens vigtigste nyheder fra Aarus og omegn - direkte i din indbakke. Udsendes hver dag.
                </font>
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="http://profil.berlingskemedia.dk/smartlinks?ekstern_id=[ekstern_id]&nid=254&lid=2039&action=signup&flow=simple&url=http%3A%2F%2Faoa.dk%2Ftakfordintilmelding">
              <img style="width: 74px;" width="74" src="http://nlstatic.berlingskemedia.dk/newsletter_logos/254.png" class="center-block img-responsive" alt="">
            </a>
          </td>
          <td>
            <a href="http://profil.berlingskemedia.dk/smartlinks?ekstern_id=[ekstern_id]&nid=254&lid=2039&action=signup&flow=simple&url=http%3A%2F%2Faoa.dk%2Ftakfordintilmelding" style="text-decoration: none;">
              <div style="margin: 30px;">
                <font color="#000000" style="font-family:montserrat_regular, 'Helvetica Neue', Helvetica; font-size: 14px; line-height: 16px; text-rendering: optimizeLegibility;">
                  Få nyheder fra oplevelses universet Klub Østjylland. F.eks. rejser, billetter til kulturinstitutioner og aktiviteter for hele familien.
                </font>
              </div>
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="http://profil.berlingskemedia.dk/smartlinks?ekstern_id=[ekstern_id]&nid=273&lid=2039&action=signup&flow=simple&url=http%3A%2F%2Faoa.dk%2Ftakfordintilmelding">
              <img style="width: 74px;" width="74" src="http://nlstatic.berlingskemedia.dk/newsletter_logos/273.png" class="center-block img-responsive" alt="">
            </a>
          </td>
          <td>
            <a href="http://profil.berlingskemedia.dk/smartlinks?ekstern_id=[ekstern_id]&nid=273&lid=2039&action=signup&flow=simple&url=http%3A%2F%2Faoa.dk%2Ftakfordintilmelding" style="text-decoration: none;">
              <div style="margin: 30px;">
                <font color="#000000" style="font-family:montserrat_regular, 'Helvetica Neue', Helvetica; font-size: 14px; line-height: 16px; text-rendering: optimizeLegibility;">
                  Få byen hjem til dig. Gå ikke glip af spændende nyheder og tilbud fra dine lokale butikker i Aarhus.
                </font>
              </div>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>


{% endblock %}
