{% extends "partials/aok.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=AOK_scene"; %}
{% set home_url = "http://www.aok.dk"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/aok_scene.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/47?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://www.aok.dk"; %}

{% set kw = "AOK_scene"; %}

{% block wide_banner_2 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block wide_banner_3 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_1 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_2 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}