{% extends "partials/aok.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=AOK_restaurantcafe"; %}
{% set home_url = "http://www.aok.dk"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/aok_restaurantcafe.png"; %}
{% set unsubscribe_href = "http://nyhedsbreve.aok-mail.dk/?eksternid=[ekstern_id]" %}

{% set kw = "AOK_restaurantcafe"; %}

{% block wide_banner_1 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block wide_banner_2 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_1 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_2 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}