{% extends "brands/aok.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=AOK_breaking"; %}
{% set home_url = "http://www.aok.dk"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/aok_breaking.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/17?id=[ekstern_id]" %}

{% set kw = "AOK_breaking"; %}

{% block content %}
  {% set node = nodes[0]; %}
  {% include "new_partials/briefing_article.html" %}

  {% set node = nodes[1]; %}
  {% if node !== undefined %}
    {% set node.show_tag = true; %}
    {% set node.show_title = true; %}
    {% set node.show_summary = false; %}
    {% include "new_partials/single_column.html" with
      {
        article_template: "aok_article.html",
        article: node
      } %}
  {% endif %}

  <tr>
    <td align="center" valign="top">
      <div style="text-align: left; line-height: 100%; padding-left: 20px; padding-right: 20px; padding-top: 3px; padding-bottom: 5px;">
        <span style="padding: 1px 0px 3px 0px;">
          <font color="#1A1A1A"
            style="font-family: {{ font_family_bold|safe }}; font-size: 22px; line-height: 22px; font-weight: bold; text-rendering: optimizeLegibility;">
            DET SKER I K&Oslash;BENHAVN
          </font>
        </span>
      </div>
    </td>
  </tr>

  {% include "new_partials/two_column.html" with
  {
    article_template: "aok_article.html",
    articleA: nodes[2],
    articleB: nodes[3]
  } %}

  {% include "new_partials/banner.html" with { cu: "29864" } %}

{% endblock %}