{% extends "partials/aok.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=AOK_shopping"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/aok_shopping.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/48?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://www.aok.dk"; %}

{% set kw = "AOK_shopping"; %}

{% block wide_banner_2 %}
{% set cu = "29863"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block wide_banner_3 %}
{% set cu = "29864"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_1 %}
{% set cu = "29861"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_2 %}
{% set cu = "29862"; %}
{% include "partials/banner.html" %}
{% endblock %}