{% extends "partials/aok.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=AOK_weekend"; %}
{% set home_url = "http://www.aok.dk"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/aok_weekend.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/17?id=[ekstern_id]" %}

{% set kw = "AOK_weekend"; %}

{% block wide_banner_1 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block wide_banner_2 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_1 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_2 %}
{% set cu = "XXX"; %}
{% include "partials/banner.html" %}
{% endblock %}