{% extends "partials/berlingske.html" %}

{% set home_url = "http://www.b.dk"; %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=berlingske_weekend"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/berlingske_weekend_ramme.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/3?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://b.kundeunivers.dk/koeb-abonnement/b2?ns_campaign=_nyhedsbreve_Køb_abo_toplink&ns_mchannel=&ns_source=nyhedsbreve&ns_linkname=web_toplink&ns_fee=" %}

{% set kw = "berlingske_weekend"; %}

{% block wide_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "205995" } %}
{% endblock %}

{% block wide_banner_3 %}
{% include "partials/adbutler_banner.html" with { setID: "205998" } %}
{% endblock %}

{% block box_banner_1 %}
{% include "partials/adbutler_banner.html" with { setID: "206249" } %}
{% endblock %}

{% block box_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206250" } %}
{% endblock %}
