{% extends "brands/berlingske.html" %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=berlingske_aok"; %}
{% set home_url = "https://www.berlingske.dk/aok"; %}
{% set unsubscribe_href = "https://profil.berlingskemedia.dk/smartlinks?ekstern_id=%%ExternalId%%&nid=17&nid=16486&lid=3115&action=signout&url=https%3A%2F%2Fwww.berlingske.dk%2Faok" %}
{% set buy_subscription_href = "https://abonnement.berlingske.dk/berlingske-abonnementer/?utm_source=own_newsletters_ed&utm_medium=berlingske&utm_content=nl_link&utm_campaign=abonnementer_berlingske&ns_fee=AL-151222-CP-WKLEDIT1WK" %}

{% set berlingske_header_img_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/logos/AoK_logo_rgb.svg"; %}
{% set berlingske_header_img_height = "28px"; %}
{% set berlingske_header_img_width = ""; %}
{% set berlingske_header_img_padding = ""; %}

{% block content %}

  {% include "new_partials/berlingske_single_column.html" with
    {
      article_template: "berlingske_article.html",
      article: nodes[0]
    }
  %}

  {% include "new_partials/berlingske_annonce.html" with { placementID: "139" } %}

  {% for node in nodes %}
    {% if max_nodes > 0 && loop.index > max_nodes %}
      {# This is empty on purpose. #}
    {% elif loop.index0 > 0 && loop.index0 % 2 === 0 %}
      {% include "new_partials/berlingske_two_columns.html" with
        {
          articleA: {
            article_template: "berlingske_article.html",
            article: nodes[loop.index0 - 1]
          },
          articleB: {
            article_template: "berlingske_article.html",
            article: nodes[loop.index0]
          }
        }
      %}
    {% endif %}

    {% if loop.index === 5 %}
      {% include "new_partials/berlingske_annonce.html" with { placementID: "94" } %}
      {% set box_banner_1_inserted = true %}
    {% elif loop.index === 9 %}
      {# include "new_partials/berlingske_annonce.html" with { placementID: "XXX3" } #}
      {% set last_banner_inserted = true %}
    {% endif %}
  {% endfor %}

  {% if last_banner_inserted !== true %}
    {# include "new_partials/berlingske_annonce.html" with { placementID: "XXX3" } #}
  {% endif %}

  {# include "new_partials/berlingske_annonce.html" with { placementID: "XXX4" } #}

{% endblock %}
