{% extends "partials/berlingske.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=berlingske_breaking"; %}
{% set home_url = "http://www.b.dk"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/berlingske_breaking_ramme.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/6?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://b.kundeunivers.dk/koeb-abonnement/b2?ns_campaign=_nyhedsbreve_Køb_abo_toplink&ns_mchannel=&ns_source=nyhedsbreve&ns_linkname=web_toplink&ns_fee=" %}
