{% extends "partials/berlingske.html" %}

{% set home_url = "http://www.b.dk"; %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=berlingske_middag"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/berlingske_middag_ramme.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/2?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://abonnement.b.dk/berlingske-alle-produkter-abonnementslink/?utm_source=nyhedsbreve&utm_medium=nl_abonnementlink&utm_term=AL-151222-CP-WKLEDIT1WK&utm_content=koeb_abonnement&utm_campaign=abonnementer_berlingske" %}

{% set kw = "berlingske_middag"; %}

{% block wide_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "205987" } %}
{% endblock %}

{% block wide_banner_3 %}
{% include "partials/adbutler_banner.html" with { setID: "205991" } %}
{% endblock %}

{% block box_banner_1 %}
{% include "partials/adbutler_banner.html" with { setID: "206180" } %}
{% endblock %}

{% block box_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206181" } %}
{% endblock %}
