{% extends "brands/berlingske.html" %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=berlingske_nyhedsvarsel"; %}
{% set home_url = "https://www.berlingske.dk"; %}
{% set unsubscribe_href = "https://profil.berlingskemedia.dk/tilmeldt/6?id=%%ExternalId%%" %}
{% set buy_subscription_href = "https://abonnement.berlingske.dk/berlingske-abonnementer/?utm_source=own_newsletters_ed&utm_medium=berlingske&utm_content=nl_link&utm_campaign=abonnementer_berlingske&ns_fee=AL-151222-CP-WKLEDIT1WK" %}

{% set berlingske_header_name = "Nyhedsvarsel"; %}
{% set berlingske_header_color = "#201748"; %}

{% block content %}
  {% set content = {
      article_template: "berlingske_article.html",
      article: nodes[0]
    }
  %}
  {% include "new_partials/berlingske_single_column.html" %}


  {% set content = { placementID: "XXX" } %}
  {% include "partials/berlingske_annonce.html" %}

  {% for node in nodes %}
    {% if max_nodes > 0 and loop.index > max_nodes %}
      {# This is empty on purpose. #}
    {% elif loop.index0 > 0 and loop.index0 % 2 == 0 %}
      {% set content = {
          articleA: {
            article_template: "berlingske_article.html",
            article: nodes[loop.index0 - 1]
          },
          articleB: {
            article_template: "berlingske_article.html",
            article: nodes[loop.index0]
          }
        }
      %}
      {% include "new_partials/berlingske_two_columns.html" %}

    {% endif %}

    {% if loop.index == 5 %}
      {% set content = { placementID: "XXX" } %}
      {% include "partials/berlingske_annonce.html" %}
      {% set box_banner_1_inserted = true %}
    {% elif loop.index == 9 %}
      {% set content = { placementID: "XXX" } %}
      {% include "partials/berlingske_annonce.html" %}
      {% set last_banner_inserted = true %}
    {% endif %}
  {% endfor %}

  {% if last_banner_inserted != true %}
    {% set content = { placementID: "XXX" } %}
    {% include "partials/berlingske_annonce.html" %}
  {% endif %}

  {% set content = { placementID: "XXX" } %}
  {% include "partials/berlingske_annonce.html" %}

{% endblock %}
