{% extends "partials/berlingske.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + dates.yyyymmdd + "&ns_linkname=berlingske_morgen"; %}
{% set home_url = "http://www.b.dk"; %}
{% set logo_src = "http://placehold.it/654x57"; %}
{% set unsubscribe_href = "http://nyhedsbreve.berlingske-mail.dk/index.php?eksternid=[ekstern_id]&medieid=4" %}

{% set buy_subscription_href = "http://b.kundeunivers.dk/koeb-abonnement/b2?ns_campaign=_nyhedsbreve_Køb_abo_toplink&ns_mchannel=&ns_source=nyhedsbreve&ns_linkname=web_toplink&ns_fee=" %}
{% set sweetdeal_permission_href = "http://www.sweetdeal.dk?ns_campaign=_sweetdeal_signuprednl&ns_mchannel=na&ns_source=nyhedsbreve&ns_linkname=nl_uspecificeret&ns_fee=0" %}
{% set btsport_permission_href = "http://apps.adlifter.com/plugin/?application_key=70c4dd8af56f5dad9d5483513f049eb6&command=cmd_berlingske_quicksignup&customer_key=a40e4703a823d1d11977928620c6ead0&nlids=24,25,26&intids=&stack_key=fb5a0951e1258db8ca686b837e16e09e&lid=1660&mid=4&rtype=1&url=http://pm2.adlifter.com/landing/?page=MjA2Lmh0bWw=&email=[email]&action=1" %}

{% block wide_banner_1 %}
{% set banner_a_href = "http://ad1.emediate.dk/eas?cu=27665;ty=ct;kw=berlingske_morgen;kw2=" + dates.yyyymmdd + ";upair=berlingske_morgen_1"; %}
{% set banner_img_src = "http://ad1.emediate.dk/eas?cu=27665;cre=img;kw=berlingske_morgen;kw2=" + dates.yyyymmdd + ";upair=berlingske_morgen_1"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block wide_banner_2 %}
{% set banner_a_href = "http://ad1.emediate.dk/eas?cu=27666;ty=ct;kw=berlingske_morgen;kw2=" + dates.yyyymmdd + ";upair=berlingske_morgen_4"; %}
{% set banner_img_src = "http://ad1.emediate.dk/eas?cu=27666;cre=img;kw=berlingske_morgen;kw2=" + dates.yyyymmdd + ";upair=berlingske_morgen_4"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_1 %}
{% set banner_a_href = "http://ad1.emediate.dk/eas?cu=27667;ty=ct;kw=berlingske_morgen;kw2=" + dates.yyyymmdd + ";upair=berlingske_morgen_2"; %}
{% set banner_img_src = "http://ad1.emediate.dk/eas?cu=27667;cre=img;kw=berlingske_morgen;kw2=" + dates.yyyymmdd + ";upair=berlingske_morgen_2"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_2 %}
{% set banner_a_href = "http://ad1.emediate.dk/eas?cu=27668;ty=ct;kw=berlingske_morgen;kw2=" + dates.yyyymmdd + ";upair=berlingske_morgen_3"; %}
{% set banner_img_src = "http://ad1.emediate.dk/eas?cu=27668;cre=img;kw=berlingske_morgen;kw2=" + dates.yyyymmdd + ";upair=berlingske_morgen_3"; %}
{% include "partials/banner.html" %}
{% endblock %}