{% extends "brands/berlingske.html" %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=berlingske_business_eftermiddag"; %}
{% set home_url = "https://www.berlingske.dk"; %}
{% set unsubscribe_href = "https://profil.berlingskemedia.dk/tilmeldt/10?id=%%ExternalId%%" %}
{% set buy_subscription_href = "https://abonnement.berlingske.dk/berlingske-abonnementer/?utm_source=own_newsletters_ed&utm_medium=berlingske&utm_content=nl_link&utm_campaign=abonnementer_berlingske&ns_fee=AL-151222-CP-WKLEDIT1WK" %}

{% set berlingske_header_name = "Business Eftermiddag"; %}
{% set berlingske_header_color = "#A50E4B"; %}

{% block content %}

  {% include "new_partials/berlingske_single_column.html" with
    {
      article_template: "berlingske_article.html",
      article: nodes[0]
    }
  %}

  {% include "new_partials/berlingske_annonce.html" with { placementID: "125" } %}

  {% for node in nodes %}
    {% if max_nodes > 0 && loop.index > max_nodes %}
      {# This is empty on purpose. #}
    {% elif loop.index0 > 0 && loop.index0 % 2 === 0 %}
      {% include "new_partials/berlingske_two_columns.html" with
        {
          articleA: {
            article_template: "berlingske_article.html",
            article: nodes[loop.index0 - 1]
          },
          articleB: {
            article_template: "berlingske_article.html",
            article: nodes[loop.index0]
          }
        }
      %}
    {% endif %}

    {% if loop.index === 5 %}
      {% include "new_partials/berlingske_annonce.html" with { placementID: "143" } %}
      {% set box_banner_1_inserted = true %}
    {% elif loop.index === 9 %}
      {% include "new_partials/berlingske_annonce.html" with { placementID: "144" } %}
      {% set box_banner_2_inserted = true %}
    {% endif %}
  {% endfor %}


  {# include "new_partials/berlingske_annonce.html" with { placementID: "XXX" } #}

{% endblock %}
