{% extends "partials/bt.html" %}

{% set home_url = "http://www.bt.dk"; %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=bt_breaking"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/bt_breaking.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/26?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://www.bt.dk/abonnement-page/abonnementer/?ns_campaign=_generisk_red_nyhedsbreve&ns_mchannel=na&ns_source=nyhedsbreve&ns_linkname=nl_abonnementlink&ns_fee=AL-151222-CP-WKLEDIT1WK" %}
