{% extends "partials/bt.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + "YYYYMMDD" | moment + "&ns_linkname=bt_breaking"; %}
{% set home_url = "http://www.bt.dk"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/bt_breaking.png"; %}
{% set unsubscribe_href = "http://nyhedsbreve.btdk-mail.dk/index.php?eksternid=[ekstern_id]&medieid=4" %}
{% set buy_subscription_href = "http://sjma.dk/lpcms/landingpage/bt1.php?cid=BT-140218-CP-MALEDIT1NB&ns_campaign=_abonnementnyhedsbreve_toplink_bt&ns_mchannel=na&ns_source=nyhedsbreve&ns_linkname=nl_uspecificeret&ns_fee=1" %}