{% extends "partials/bt.html" %}

{% set home_url = "http://www.bt.dk"; %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=bt_eftermiddag"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/bt_eftermiddag.png"; %}
{% set unsubscribe_href = "https://profil.berlingskemedia.dk/tilmeldt/25?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://abonnement.bt.dk/abonnementer/?utm_source=nyhedsbreve&utm_medium=nl_abonnementlink&utm_term=AL-151222-CP-WKLEDIT1WK&utm_content=koeb_abonnement&utm_campaign=abonnementer_bt" %}

{% set kw = "bt_eftermiddag"; %}

{% block wide_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206010" } %}
{% endblock %}

{% block wide_banner_3 %}
{% include "partials/adbutler_banner.html" with { setID: "206011" } %}
{% endblock %}

{% block box_banner_1 %}
{% include "partials/adbutler_banner.html" with { setID: "206251" } %}
{% endblock %}

{% block box_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206252" } %}
{% endblock %}
