{% extends "partials/bt.html" %}
{% set disableBTbackground = true; %}

{% set home_url = "http://www.bt.dk/sektion/modeogskonhed"; %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=bt_modeskonhed"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/bt_mode.png"; %}
{% set unsubscribe_href = "https://profil.berlingskemedia.dk/tilmeldt/112?id=[ekstern_id]" %}
{% set buy_subscription_href = "https://abonnement.bt.dk/abonnementer/?utm_source=nyhedsbreve&utm_medium=nl_abonnementlink&utm_term=AL-151222-CP-WKLEDIT1WK&utm_content=koeb_abonnement&utm_campaign=abonnementer_bt" %}

{% set kw = "bt_modeskonhed"; %}

{% block wide_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206014", hide_annonce_background: false, hide_annonce_label: false } %}
{% endblock %}

{% block wide_banner_3 %}
{% include "partials/adbutler_banner.html" with { setID: "206015", hide_annonce_background: false, hide_annonce_label: false } %}
{% endblock %}

{% block box_banner_1 %}
{% include "partials/adbutler_banner.html" with { setID: "206253", hide_annonce_background: false, hide_annonce_label: false } %}
{% endblock %}

{% block box_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206254", hide_annonce_background: false, hide_annonce_label: false } %}
{% endblock %}
