{% extends "partials/bt.html" %}
{% set disableBTbackground = true; %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + "YYYYMMDD" | moment + "&ns_linkname=bt_modeskonhed"; %}
{% set home_url = "http://www.bt.dk/sektion/modeogskonhed"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/bt_mode.png"; %}
{% set unsubscribe_href = "http://nyhedsbreve.btdk-mail.dk/index.php?eksternid=[ekstern_id]&medieid=4" %}
{% set buy_subscription_href = "http://sjma.dk/lpcms/landingpage/bt1.php?cid=BT-140218-CP-MALEDIT1NB&ns_campaign=_abonnementnyhedsbreve_toplink_bt&ns_mchannel=na&ns_source=nyhedsbreve&ns_linkname=nl_uspecificeret&ns_fee=3" %}

{% set sweetdeal_permission_href = "http://www.sweetdeal.dk?ns_campaign=_sweetdeal_signuprednl&ns_mchannel=na&ns_source=nyhedsbreve&ns_linkname=nl_uspecificeret&ns_fee=0" %}
{% set btsport_permission_href = "http://apps.adlifter.com/plugin/?application_key=70c4dd8af56f5dad9d5483513f049eb6&command=cmd_berlingske_quicksignup&customer_key=a40e4703a823d1d11977928620c6ead0&nlids=24,25,26&intids=&stack_key=fb5a0951e1258db8ca686b837e16e09e&lid=1660&mid=4&rtype=1&url=http://pm2.adlifter.com/landing/?page=MjA2Lmh0bWw=&email=[email]&action=1" %}

{% set kw = "bt_modeskonhed"; %}

{% block wide_banner_1 %}
{% set cu = "27669"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block wide_banner_2 %}
{% set cu = "27670"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_1 %}
{% set cu = "27671"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_2 %}
{% set cu = "27672"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block permission_intro %}
{% endblock %}

{% block permission_1 %}
{% set cu = "28359"; %}
{% set hide_annonce_background = true; %}
{% set hide_annonce_label = true; %}
{# include "partials/banner.html" #}
{% endblock %}

{% block permission_2 %}
{% set cu = "28360"; %}
{% set hide_annonce_background = true; %}
{% set hide_annonce_label = true; %}
{# include "partials/banner.html" #}
{% endblock %}
