{% extends "partials/bt.html" %}

{% set home_url = "http://www.bt.dk/sport"; %}

{% set max_nodes = 13; %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=bt_sport"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/bt_sport.png"; %}
{% set unsubscribe_href = "https://profil.berlingskemedia.dk/tilmeldt/27?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://abonnement.bt.dk/abonnementer/?utm_source=nyhedsbreve&utm_medium=nl_abonnementlink&utm_term=AL-151222-CP-WKLEDIT1WK&utm_content=koeb_abonnement&utm_campaign=abonnementer_bt" %}

{% set kw = "bt_sport"; %}

{% block wide_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206018", hide_annonce_background: false, hide_annonce_label: false } %}
{% endblock %}

{% block wide_banner_3 %}
{% include "partials/adbutler_banner.html" with { setID: "206019", hide_annonce_background: false, hide_annonce_label: false } %}
{% endblock %}

{% block box_banner_1 %}
{% include "partials/adbutler_banner.html" with { setID: "206257", hide_annonce_background: false, hide_annonce_label: false } %}
{% endblock %}

{% block box_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206258", hide_annonce_background: false, hide_annonce_label: false } %}
{% endblock %}
