{% extends "partials/business.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=business_breaking"; %}
{% set home_url = "http://www.business.dk"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/business_breaking.png"; %}
{% set unsubscribe_href = "http://nyhedsbreve.businessdk-mail.dk/?eksternid=[ekstern_id]" %}
{% set buy_subscription_href = "http://b.kundeunivers.dk/koeb-abonnement/b2?ns_campaign=_nyhedsbreve_Køb_abo_toplink&ns_mchannel=&ns_source=nyhedsbreve&ns_linkname=web_toplink&ns_fee=" %}