{% extends "partials/business.html" %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=business_ejendomme"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/business_ejendomme.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/212?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://abonnement.b.dk/berlingske-alle-produkter-abonnementslink?ns_campaign=_BM_alle_produkter_Abonnementslink&ns_mchannel=&ns_source=nyhedsbreve&ns_linkname=nl_abonnementlink&ns_fee=AL-150827-CP-MALEDIT1NB" %}

{% set kw = "business_ejendomme"; %}

{% block wide_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206003" } %}
{% endblock %}

{% block wide_banner_3 %}
{% include "partials/adbutler_banner.html" with { setID: "206004" } %}
{% endblock %}

{% block box_banner_1 %}
{% include "partials/adbutler_banner.html" with { setID: "206005" } %}
{% endblock %}

{% block box_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206006" } %}
{% endblock %}
