{% extends "partials/business.html" %}

{% set tracking = "utm_source=newsletter&utm_medium=email&utm_content=red_nb-" + timestamp | yyyymmdd + "&utm_campaign=business_media"; %}
{% set logo_src = "https://s3-eu-west-1.amazonaws.com/nlstatic.berlingskemedia.dk/headers/62275_654x80_Business_Media_0817.jpg"; %}
{% set unsubscribe_href = "https://profil.berlingskemedia.dk/tilmeldt/14?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://abonnement.b.dk/berlingske-business-abonnementer/?utm_source=nyhedsbreve&utm_medium=nl_abonnementlink&utm_term=AL-151222-CP-WKLEDIT1WK&utm_content=koeb_abonnement&utm_campaign=abonnementer_berlingske&ns_fee=AL-151222-CP-WKLEDIT1WK" %}

{% set kw = "business_media"; %}

{% block wide_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206058" } %}
{% endblock %}

{% block wide_banner_3 %}
{% include "partials/adbutler_banner.html" with { setID: "206059" } %}
{% endblock %}

{% block box_banner_1 %}
{% include "partials/adbutler_banner.html" with { setID: "206268" } %}
{% endblock %}

{% block box_banner_2 %}
{% include "partials/adbutler_banner.html" with { setID: "206269" } %}
{% endblock %}
