{% extends "partials/mjm.html" %}

{% set max_nodes = 7; %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=holstebrostruer_update"; %}
{% set home_url = "http://dagbladet-holstebro-struer.dk"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/holstebrostruer_update.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/71?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://dagbladet-holstebro-struer.kundeunivers.dk/koeb-abonnement/dagbladet-holstebro-struer?ns_campaign=_Tilbud nyhedsbrev Holstebro-Struer_Bladsalg_HolstebroStruer_nyhedsbrev&ns_mchannel=na&ns_source=nyhedsbreve&ns_linkname=nl_uspecificeret&ns_fee=0" %}

{% set kw = "holstebrostruer_update"; %}

{% block wide_banner_1 %}
{% set cu = "27811"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block wide_banner_2 %}
{% set cu = "27813"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_1 %}
{% set cu = "27806"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_2 %}
{% set cu = "27809"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block social %}
<div style="margin: 20px 0px 0px 0px;">
  <font color="#000000" style="font-family: {{ font_family }}; font-size: 24px; line-height: 36px; text-rendering: optimizeLegibility;">
    F&Oslash;LG DAGBLADET
  </font>
</div>
<div style="margin: 20px 0px;">
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="http://facebook.com/netavisen" style="text-decoration: none;">
      <img src="http://nlstatic.berlingskemedia.dk/images/facebook.png" width="12" />
    </a>
  </div>
  <div style="padding: 0px 15px; display: inline-block;">
    <a target="_blank" href="http://twitter.com/Netavisen" style="text-decoration: none;">
      <img src="http://nlstatic.berlingskemedia.dk/images/twitter.png" width="26" />
    </a>
  </div>
</div>
<hr style="height: 1px; border: 0; background: #dddddd;">
{% endblock %}