{% extends "partials/mjm.html" %}

{% set max_nodes = 7; %}

{% set tracking = "ns_campaign=&ns_mchannel=Mailing&ns_source=red_nb-" + timestamp | yyyymmdd + "&ns_linkname=lemvig_update"; %}
{% set home_url = "http://folkebladetlemvig.dk"; %}
{% set logo_src = "http://nlstatic.berlingskemedia.dk/headers/lemvig_update.png"; %}
{% set unsubscribe_href = "http://profil.berlingskemedia.dk/tilmeldt/73?id=[ekstern_id]" %}
{% set buy_subscription_href = "http://folkebladetlemvig.kundeunivers.dk/koeb-abonnement/folkebladetlemvig?ns_campaign=_Tilbud nyhedsbrev Lemvig_Bladsalg_RingkøbingSkjern_nyhedsbrev&ns_mchannel=na&ns_source=nyhedsbreve&ns_linkname=nl_uspecificeret&ns_fee=0" %}

{% set kw = "lemvig_update"; %}

{% block wide_banner_2 %}
{% set cu = "27811"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block wide_banner_3 %}
{% set cu = "27813"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_1 %}
{% set cu = "27806"; %}
{% include "partials/banner.html" %}
{% endblock %}

{% block box_banner_2 %}
{% set cu = "27809"; %}
{% include "partials/banner.html" %}
{% endblock %}