<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <input
        class="form-control input-sm"
        placeholder="Filter"
        type="text"
        ng-model="newsletterFilter">
    </div>
    <div class="col-xs-3 col-xs-offset-3">
      <div class="input-group">
        <input
          class="form-control input-sm"
          type="text"
          ng-model="name"
          ng-keyup="addCategory($event, name)"
          placeholder="Indtast navn"/>
        <span class="input-group-btn"><button type="button" class="btn btn-default btn-sm" ng-click="createNewsletter(name)">
          Opret ny <span class="glyphicon glyphicon-plus"></span>
        </button></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <tr>
          <th>Navn</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="newsletter in newsletters | filter: newsletterFilter">
          <td><a ng-href="#/{{newsletter}}">{{newsletter}}</td>
          <td>
            <a class="btn btn-default btn-sm" ng-href="#/{{newsletter}}/edit">
              Edit  <span class="glyphicon glyphicon-edit"></span>
            </a></td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteNewsletter(newsletter)">
              Slet <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
